h1 Badges & Labels

h2.heading--docs Badges

p
  | The <code>.badge</code> class is useful for displaying icons or numbers in a
  | rounded container with a background.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/vNBOjL/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/vNBOjL/'>Badges - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.


h2.heading--docs Labels

p
  | The <code>.badge</code> class allows you to label text or icons with a background.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/epONrP/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/epONrP/'>Labels - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
