h1 Cards

p
  | Cards can hold information information that needs a title, description, link,
  | or image. You can use the `.card` class and it's child classes to create a
  | card.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/pjzWJw/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/pjzWJw/'>Cards - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
