h1 Alerts

p
  | Alert boxes can be used to provide messages or information that's important
  | to users. They can be used with the <code>.alert</code>, and by adding one of the state
  | modifiers (success, warning, error).

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/xwKGYe/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/xwKGYe/'>Alerts - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
