h1 Tooltips

p
  | Tooltips are the perfect way to display content when hovering over something.
  | You can apply tooltips to any element as long as you are using one of the <code>.tooltip--*</code>
  | classes coupled with the data-hint data attribute. Here we're using a simplified 
  | version of the <a href="http://kushagragour.in/lab/hint/" target="_blank">Hint.css</a> library.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/rOBGvq/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/rOBGvq/'>Tooltips - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
