//------------------------------------
//  IMPORTS
//------------------------------------

// Concise
@import "concise";

// Concise add-ons
@import "add-ons/objects/badges-labels/badges";
@import "add-ons/objects/blockquotes/blockquotes";
@import "add-ons/objects/breadcrumbs/breadcrumbs";
@import "add-ons/objects/closeable/closeable";
@import "add-ons/objects/forms/prepend-append";
@import "add-ons/objects/groups/groups";
@import "add-ons/objects/tooltips/tooltips";
@import "add-ons/objects/navigation/navigation-styles";
@import "add-ons/objects/wells/wells";

// Libraries
@import "libs/font-awesome";
@import "libs/syntax";




//------------------------------------
//  GENERAL
//------------------------------------
html,
body {
  background-color: lighten(#c2c2b5, 23%);
  height: 100%;
}

body { transition: all .3s; }


//
// Typography
//
a {
  color: #ecac91;
  transition: all .3s;

  &:hover {
    color: darken(#ecac91, 20%);
    text-decoration: none;
  }

  &:visited { color: darken(#ecac91, 10%); }
}

p {
  line-height: 1.6;
  margin-bottom: 18px;
}




//------------------------------------
//  OBJECTS
//------------------------------------

//
// Container
//
.container { transition: width .15s; }


//
// Buttons
//
.btn { transition: background .3s; }

// Modifiers
.btn--full { width: 100%; }

.btn--borderWhite {
  background-color: transparent;
  border: 1px solid #fff;

  &:hover {
    background-color: #fff;
    color: #161e27 !important;
  }

  &:active,
  &:visited { color: #fff; }
}

a.btn--borderBlue {
  background-color: transparent;
  border: 2px solid #5bc0de;
  color: #5bc0de;

  &:hover {
    background-color: #5bc0de;
    color: #fff;
  }

  &:active,
  &:visited { color: #fff; }
}


//
// Notes
//
.note {
  background-color: lighten(#f1c40f, 40%);
  margin-bottom: 24px;
  padding: 18px;

  &:before {
    content: "Note: ";
    font-weight: bold;
  }
}

// Preprocessor notes
.note--preprocessor {
  background-color: lighten(#9b59b6, 40%);

  &:before { content: "Preprocessor Note: "; }
}




//------------------------------------
//  HEADER
//------------------------------------
.siteHeader {
  @include clearfix();

  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
  padding-top: 12px;

  // Logo
  .logo {
    margin-bottom: 24px;

    @include breakpoint(extra-small) {
      float: left;
      margin: 0 auto;
    }

    img {
      @extend %align-center;

      width: 175px;
    }
  }

  // Navigation
  nav {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(extra-small) {
      float: right;
      margin-top: 18px;
      text-align: right;
    }

    a {
      color: #999;

      &:hover,
      &:active { color: darken(#ecac91, 20%); }
    }
  }
}




//------------------------------------
//  HOMEPAGE
//------------------------------------
.homeBanner {
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;

  @include breakpoint(extra-small) {
    padding-bottom: 84px;
    padding-top: 84px;
  }

  @include breakpoint(small) {
    padding-bottom: 108px;
    padding-top: 108px;
  }

  @include breakpoint(medium) {
    padding-bottom: 144px;
    padding-top: 144px;
  }

  h1,
  h3 { color: #fff; }

  h1 {
    @extend .mega;

    margin-bottom: 12px;
    margin-top: 0px;
  }

  .homeBanner-buttons {
    padding-bottom: 36px;
    padding-top: 36px;

    @include breakpoint(medium) {
      padding-bottom: 72px;
      padding-top: 72px;
    }
  }
}


//
// Homepage buttons
//
.homeBanner-buttons {
  padding-bottom: 12px;
  padding-top: 12px;

  .btn--borderWhite {
    border-width: 3px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 12px;
    text-transform: uppercase;
    width: 100%;

    @include breakpoint(extra-small) {
      margin-bottom: 0;
      margin-left: 8px;
      width: auto;

      &:first-of-type { margin-left: 0; }
    }
  }
}


//
// Homepage headings
//
.homeHeading,
.homeSubheading { margin: 0; }

.homeHeading {
  @include font-size(36px);

  margin-bottom: 12px;

  @include breakpoint(medium) {
    @include font-size(48px);
  }
}

.homeSubheading {
  @extend .h3;

  font-weight: 100;
  margin-bottom: 48px;

  @include breakpoint(small) {
    margin-bottom: 60px;
  }
}


//
// Homepage sections
//
.homeFeatures,
.homeShowcase,
.homeDownload {
  padding-bottom: 48px;
  padding-top: 48px;
  text-align: center;

  @include breakpoint(medium) {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  @include breakpoint(large) {
    padding-bottom: 84px;
    padding-top: 84px;
  }
}

// Features
.homeFeatures {
  border-bottom: 1px solid #ddd;

  .feature {
    @include column(6, 18, false, true, 3);

    margin-bottom: 60px;

    @include breakpoint(small) {
      margin-bottom: 0;
    }

    &:first-of-type { margin-left: 0; }

    &:last-of-type { margin-bottom: 0; }

    h3 {
      font-weight: bold;
      margin-bottom: 24px;
    }
  }
}

// Showcase
.homeShowcase {
  background-color: #fff;

  .showcase-item {
    @include column(4, 16, false, true);

    border: 6px solid #fff;
    border-bottom: none;
    box-shadow:0 1px 3px rgba(0,0,0,.2);

    &:first-of-type { margin-left: 0; }

    img { width: 100%; }
  }

  @include breakpoint(small) {
    .showcase-item img {
      opacity: .8;
      transition: opacity .3s;

      &:hover { opacity: 1; }
    }
  }
}

// Download
.homeDownload {
  background-color: #A0417B;
  color: #fff;
  text-align: center;

  @include breakpoint(medium) {
    padding-bottom: 84px;
    padding-top: 84px;
  }

  h2,
  p { color: #fff; }
}




//------------------------------------
//  MASTHEAD
//------------------------------------
.masthead {
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 36px;
  padding-top: 36px;

  @include breakpoint(extra-small) {
    padding-bottom: 48px;
    padding-top: 48px;
  }

  // Headers
  .masthead-title,
  .masthead-subtitle {
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
  }

  .masthead-title {
    @extend .mega;

    margin-bottom: 12px;
  }

  .masthead-subtitle { font-weight: 100; }
}


//
// Fusion ad
//
#fusionads {
  border: 1px solid rgba(250, 250, 250, 0.55);
  display: none;
  line-height: 100%;
  margin: 48px auto 0;
  padding: 10px 10px 5px;
  text-align: left;
  width: 275px;
  z-index: 100;

  @include breakpoint(medium) {
    display: block;
    margin: 0;
    position: absolute;
    right: 48px;
    top: 460px;

    .masthead & { top: 130px; }
  }

  a {
    color: #fff !important;

    &:hover { color: #ddd !important; }
  }
}

.fusion-wrap { float: left; }

.fusion-img {
  float: left;
  margin: 0 10px 5px 0;
}

.fusion-text {
  display: block;
  font-size: 13px;
}

.fusion-poweredby { font-size: 11px; }




//------------------------------------
//  DOCUMENTATION
//------------------------------------
.documentation {
  @include row;

  margin-bottom: 48px;
  margin-top: 24px;

  @include breakpoint(small) {
    margin-top: 48px;
  }
}


//
// Sidebar
//
.documentation-sidebar {
  @include column(3.5);

  margin-bottom: 24px;
  margin-left: 0;

  @include breakpoint(small) {
    margin-bottom: 0;
    padding-top: 12px;
  }

  ul {
    margin-bottom: 24px;

    li {
      @include font-size(14px);

      margin-bottom: 2px;
      padding-bottom: 8px;
      padding-top: 8px;
      transition: padding-left .15s;

      @include breakpoint(small) {
        padding-bottom: 5px;
        padding-top: 5px;
      }

      &:hover,
      &.active {
        background-color: #f2f2f2;
        border-left: 2px solid #ecac91;
        padding-left: 8px;
      }

      &.header {
        color: #555;
        cursor: default;
        font-size: 18px;

        &:hover {
          background-color: transparent;
          border-left: none;
          padding-left: 0;
        }
      }
    }
  }
}


//
// Content
//
.documentation-content {
  @include column(12.5);

  background: #fff;
  box-shadow: 7px 7px 0px rgba(175, 175, 175, 0.1);
  padding: 24px 36px;

  @include breakpoint(small) {
    padding-top: 0;
  }

  h1,
  h2 { border-bottom: 1px solid #f0f0f0; }

  h1 { padding-bottom: 5px; }

  p code,
  table code {
    background-color: #f3f3f3;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    @include font-size($base-font-size - 2px);
    padding: 1px 3px;
  }
}

.preview {
  background-color: lighten($object-ui-color, 19%);
  border: 1px solid lighten($object-ui-color, 14%);
  border-radius: 4px;
  margin-bottom: 24px;

  *::-webkit-selection {
    background-color: lighten($object-ui-color, 13%);
    color: darken($object-ui-color, 30%);
  }

  *::-moz-selection {
    background-color: lighten($object-ui-color, 13%);
    color: darken($object-ui-color, 30%);
  }

  *::selection {
    background-color: lighten($object-ui-color, 13%);
    color: darken($object-ui-color, 30%);
  }

  // Unstyle objects
  p {
    line-height: calculate-line-height($base-font-size);
    margin-bottom: 24px;

    code {
      background-color: transparent;
      border: none;
      @include font-size($base-font-size);
      padding: 0;
    }
  }

  h1,
  h2 { border-bottom: none; }

  h1 { padding-bottom: 0; }
}

.preview-heading,
.preview-footer {
  background-color: lighten($object-ui-color, 17%);
  padding: 8px;

  strong {
    @include font-size(12px);

    color: darken($object-ui-color, 20%);
    text-transform: uppercase;
  }
}

.preview-heading { border-bottom: 1px solid lighten($object-ui-color, 14%); }

.preview-body + .preview-footer { border-top: 1px solid lighten($object-ui-color, 14%); }

.preview-body { padding: 12px; }

.preview-footer {
  pre { padding-bottom: 6px; }

  .highlight { background-color: transparent; }
}

.table-responsive + .preview { margin-top: 24px; }

// Concise examples
.conciseExamples {
  @include row();

  .example-item {
    @include column(6, 18, false, true);

    border: 6px solid #fff;
    border-bottom: none;
    box-shadow:0 1px 3px rgba(0,0,0,.2);

    &:first-of-type { margin-left: 0; }

    img { width: 100%; }
  }

  @include breakpoint(small) {
    .example-item img {
      opacity: .8;
      transition: opacity .3s;

      &:hover { opacity: 1; }
    }
  }
}




//------------------------------------
//  FOOTER
//------------------------------------
.siteFooter {
  @include font-size(14px);

  background-color: #262626;
  color: #666;
  padding-bottom: 48px;
  padding-top: 48px;
  text-align: center;

  a {
    color: #f6f6f6;

    &:hover { color: #ddd; }
  }

  p {
    margin-bottom: 0px;
    text-transform: uppercase;

    a {
      color: #999;

      &:hover { color: #bbb; }
    }

    span {
      margin-left: 2px;
      margin-right: 2px;
    }
  }

  ul { margin-bottom: 48px; }

  ul a {
    display: block;
    background-color: #464646;
    margin: 0px;
    margin-bottom: 2px;
    padding-bottom: 7px;
    padding-top: 7px;
    transition: background-color .15s;

    &:hover { background-color: #555; }

    @include breakpoint(extra-small) {
      background-color: transparent;
      display: inline;
      border-right: 1px solid #666;
      margin-bottom: 0;
      padding: 0 10px;

      &:hover { background-color: transparent; }
    }

    &:first-child { padding-left: 0px; }

    &:last-child {
      border-right: none;
      padding-right: 0px;
    }
  }
}
