.home-header {
  padding-top: 1.5lh;
  position: relative;
  height: 100vh;
  max-height: 25lh;

  & > .title {
    position: absolute;
    font-size: typeScale(11);
    border-bottom: 0;
    max-width: 25rem;
    text-align: right;
    bottom: 2lh;
    right: 0;
    margin-bottom: 0;
    line-height: 0.5;

    em {
      color: getColor(base, primary);
      font-style: normal;
    }
  }

  .logo {
    height: 3lh;
    width: auto;
  }

  .docs {
    position: absolute;
    top: 1lh;
    right: 0;
    font-feature-settings: "smcp" 1, "c2sc" 1;
    letter-spacing: $letter-spacing;
    font-family: $font-secondary;
  }

  small {
    font-size: typeScale(3);
    font-weight: normal;
    display: inline-block;
    line-height: 1.3;
  }
}