.home-header {
  padding-top: 1.5lh;
  position: relative;
  height: 100vh;
  max-height: 25lh;

  & > .title {
    position: absolute;
    font-size: typeScale(7);
    border-bottom: 0;
    max-width: 13em;
    text-align: right;
    bottom: 2lh;
    right: 0;
    margin-bottom: 0;
  }

  .logo {
    height: 3lh;
    width: auto;
  }

  small {
    font-size: typeScale(4);
    font-weight: normal;
    display: inline-block;
    margin-top: 0.25lh;
  }
}