.index-nav {
  font-family: $font-secondary;
  font-size: typeScale(1);

  a {
    font-weight: bold;
    font-feature-settings: "smcp" 1, "c2sc" 1;
    letter-spacing: $letter-spacing;
    line-height: 2;
  }

  .-active {
    color: getColor(base, primary);
  }

  .logo {
    text-align: center;
    padding-top: 1lh;
    padding-bottom: 0.5lh;
    display: block;

    img {
      height: 2lh;
    }  
  }

  ol ol a {
    font-weight: normal;
    font-feature-settings: initial;
    letter-spacing: 0;
    line-height: 1.5;
  }

  ol {
    counter-reset: item;
  }

  & > ol {
    padding: 0.5lh 2em;
    margin-top: 0;
  }

  li:before { 
    content: counters(item, ".") " "; 
    counter-increment: item;
    margin-right: 0.25em;
    color: getColor(base, primary);
  }

  h1 {
    text-align: center;
    margin-top: 0.5lh;
    font-size: typeScale(2);
    border-bottom: 1px solid getColor(base, lines);
    padding-bottom: 0.7lh;
    text-transform: uppercase;
  }
}