.index-nav {
  font-family: $font-secondary;
  font-size: typeScale(1);

  &.-secondary {
    font-size: typeScale(2);
    margin: 2lh 0;

    & > ol {
      padding: 0;
    }
    
    .section-nav {
      font-family: $font-secondary;

      &:not(:first-child) {
        border-top: 1px solid getColor(base, lines);
      }
    }
    
    .list-nav {
      column-count: 2;
      margin-bottom: 0.5lh;
      font-family: $font-primary;

      a {
        font-feature-settings: initial;
        letter-spacing: 0;
      }
    }
  }
  
  .section-nav {
    font-weight: bold;
    line-height: 2;

    a {
      letter-spacing: 0.05em;
      font-feature-settings: "smcp" 1, "c2sc" 1;
    }
  }

  .list-nav {
    margin-left: 0;
    line-height: 1.8;
    padding-left: 1em;

    a {
      font-weight: normal;
      font-feature-settings: initial;
      letter-spacing: 0;
    }
  }

  a.-active {
    color: getColor(base, primary);
  }

  .logo {
    text-align: center;
    padding-top: 1lh;
    padding-bottom: 0.5lh;
    display: block;

    img {
      height: 2lh;
    }
  }

  & > ol {
    padding: 0.5lh 2em;
    margin-top: 0;
  }

  li:before {
    color: getColor(base, primary);
  }

  h1 {
    text-align: center;
    margin-top: 0.5lh;
    font-size: typeScale(2);
    border-bottom: 1px solid getColor(base, lines);
    padding-bottom: 0.7lh;
    text-transform: uppercase;
  }
}
