.sidebar-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15em;
  overflow-y: auto;
  opacity: 0.3;
  transition: opacity 700ms;
  border-right: 1px solid getColor(base, lines);

  &:hover {
    opacity: 1;
  }
}