.version-box {
  font-size: typeScale(1);
  position: absolute;
  bottom: 2lh;
  left: 50%;
  transform: translateX(-50%);

  @media ($breakpoint) {
    left: 0;
    transform: none;
  }

  .title {
    margin-bottom: 0;
  }

  .version {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }
}