@media (min-width: 48em) /* 768px */ {
    /* Row Columns */
	.column-1 { width: 4.16666666667%; }
    .column-2 { width: 8.33333333333%; }
    .column-3 { width:12.5%; }
    .column-4 { width: 16.6666666667%; }
    .column-5 { width: 20.8333333333%; }
    .column-6 { width: 25%; }
    .column-7 { width: 29.1666666667%; }
    .column-8 { width: 33.3333333333%; }
    .column-9 { width: 37.5%; }
    .column-10 { width: 41.6666666667%; }
    .column-11 { width: 45.8333333333%; }
    .column-12 { width: 50%; }
    .column-13 { width: 54.1666666667%; }
    .column-14 { width: 58.3333333333%; }
    .column-15 { width: 62.5%; }
    .column-16 { width: 66.6666666667%; }
    .column-17 { width: 70.8333333333%; }
    .column-18 { width: 75%; }
    .column-19 { width: 79.1666666667%; }
    .column-20 { width: 83.3333333333%; }
    .column-21 { width: 87.5%; }
    .column-22 { width: 91.6666666667%; }
    .column-23 { width: 95.8333333333%; }
    .column-24 { width: 100%; }
    
    /* Row Columns With Gutters */
    .gutters .column-1 { width: 2.25%; }
	.gutters .column-2 { width: 6.5%; }
	.gutters .column-3 { width: 10.75%; }
	.gutters .column-4 { width: 15.0%; }
	.gutters .column-5 { width: 19.25%; }
	.gutters .column-6 { width: 23.5%; }
	.gutters .column-7 { width: 27.75%; }
	.gutters .column-8 { width: 32.0%; }
	.gutters .column-9 { width: 36.25%; }
	.gutters .column-10 { width: 40.5%; }
	.gutters .column-11 { width: 44.75%; }
	.gutters .column-12 { width: 49.0%; }
	.gutters .column-13 { width: 53.25%; }
	.gutters .column-14 { width: 57.5%; }
	.gutters .column-15 { width: 61.75%; }
	.gutters .column-16 { width: 66.0%; }
	.gutters .column-17 { width: 70.25%; }
	.gutters .column-18 { width: 74.5%; }
	.gutters .column-19 { width: 78.75%; }
	.gutters .column-20 { width: 83.0%; }
	.gutters .column-21 { width: 87.25%; }
	.gutters .column-22 { width: 91.5%; }
	.gutters .column-23 { width: 95.75%; }
	.gutters .column-24 { width: 100%; }
    
    /* Push */    
    .push-1 { left: 4.16666666667%; }
    .push-2 { left: 8.33333333333%; }
    .push-3 { left: 12.5%; }
    .push-4 { left: 16.6666666667%; }
    .push-5 { left: 20.8333333333%; }
    .push-6 { left: 25%; }
    .push-7 { left: 29.1666666667%; }
    .push-8 { left: 33.3333333333%; }
    .push-9 { left: 37.5%; }
    .push-10 { left: 41.6666666667%; }
    .push-11 { left: 45.8333333333%; }
    .push-12 { left: 50%; }
    .push-13 { left: 54.1666666667%; }
    .push-14 { left: 58.3333333333%; }
    .push-15 { left: 62.5%; }
    .push-16 { left: 66.6666666667%; }
    .push-17 { left: 70.8333333333%; }
    .push-18 { left: 75%; }
    .push-19 { left: 79.1666666667%; }
    .push-20 { left: 83.3333333333%; }
    .push-21 { left: 87.5%; }
    .push-22 { left: 91.6666666667%; }
    .push-23 { left: 95.8333333333%; }
    
    /* Push With Gutters */
    .gutters .push-1 { left: 2.25%; }
    .gutters .push-2 { left: 6.5%; }    
    .gutters .push-3 { left: 10.75%; }    
    .gutters .push-4 { left: 15.0%; }    
    .gutters .push-5 { left: 19.25%; }    
    .gutters .push-6 { left: 23.5%; }
    .gutters .push-7 { left: 27.75%; }    
    .gutters .push-8 { left: 32.0%; }    
    .gutters .push-9 { left: 36.25%; }    
    .gutters .push-10 { left: 40.5%; }    
    .gutters .push-11 { left: 44.75%; }    
    .gutters .push-12 { left: 49.0%; }    
    .gutters .push-13 { left: 53.25%; }    
    .gutters .push-14 { left: 57.5%; }    
    .gutters .push-15 { left: 61.75%; }    
    .gutters .push-16 { left: 66.0%; }    
    .gutters .push-17 { left: 70.25%; }    
    .gutters .push-18 { left: 74.5%; }    
    .gutters .push-19 { left: 78.75%; }    
    .gutters .push-20 { left: 83.0%; }    
    .gutters .push-21 { left: 87.25%; }    
    .gutters .push-22 { left: 91.5%; }    
    .gutters .push-23 { left: 95.75%; }
    
    /* Pull */    
    .pull-1 { right: 4.16666666667%; }
    .pull-2 { right: 8.33333333333%; }
    .pull-3 { right: 12.5%; }
    .pull-4 { right: 16.6666666667%; }
    .pull-5 { right: 20.8333333333%; }
    .pull-6 { right: 25%; }
    .pull-7 { right: 29.1666666667%; }
    .pull-8 { right: 33.3333333333%; }
    .pull-9 { right: 37.5%; }
    .pull-10 { right: 41.6666666667%; }
    .pull-11 { right: 45.8333333333%; }
    .pull-12 { right: 50%; }
    .pull-13 { right: 54.1666666667%; }
    .pull-14 { right: 58.3333333333%; }
    .pull-15 { right: 62.5%; }
    .pull-16 { right: 66.6666666667%; }
    .pull-17 { right: 70.8333333333%; }
    .pull-18 { right: 75%; }
    .pull-19 { right: 79.1666666667%; }
    .pull-20 { right: 83.3333333333%; }
    .pull-21 { right: 87.5%; }
    .pull-22 { right: 91.6666666667%; }
    .pull-23 { right: 95.8333333333%; }
    
    /* Pull With Gutters */
    .gutters .pull-1 { right: 2.25%; }    
    .gutters .pull-2 { right: 6.5%; }    
    .gutters .pull-3 { right: 10.75%; }    
    .gutters .pull-4 { right: 15.0%; }    
    .gutters .pull-5 { right: 19.25%; }    
    .gutters .pull-6 { right: 23.5%; }    
    .gutters .pull-7 { right: 27.75%; }    
    .gutters .pull-8 { right: 32.0%; }    
    .gutters .pull-9 { right: 36.25%; }    
    .gutters .pull-10 { right: 40.5%; }    
    .gutters .pull-11 { right: 44.75%; }    
    .gutters .pull-12 { right: 49.0%; }    
    .gutters .pull-13 { right: 53.25%; }    
    .gutters .pull-14 { right: 57.5%; }    
    .gutters .pull-15 { right: 61.75%; }    
    .gutters .pull-16 { right: 66.0%; }    
    .gutters .pull-17 { right: 70.25%; }    
    .gutters .pull-18 { right: 74.5%; }    
    .gutters .pull-19 { right: 78.75%; }    
    .gutters .pull-20 { right: 83.0%; }    
    .gutters .pull-21 { right: 87.25%; }    
    .gutters .pull-22 { right: 91.5%; }    
    .gutters .pull-23 { right: 95.75%; }
}