//------------------------------------
//  NAVIGATION STYLES
//------------------------------------

// Nested dropdown
.nav-dropdown {
  ul,
  ol {
    ol,
    ul,
    ul ul,
    ol ul,
    ul ol,
    ol ol {
      display: none;
      left: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      visibility: hidden;
      width: 150px;
      z-index: 99999;
    }
  }

  .list-inline li li,
  &.list-inline li li { margin-right: 0px; }

  li li { display: block; }

  ul,
  ol {
    ul ul,
    ol ul,
    ul ol,
    ol ol { display: block; }
  }

  ul li:hover,
  ol li:hover {
    ul,
    ol {
      display: block;
      opacity: 1;
      top: 100%;
      visibility: visible;
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  ul,
  ol {
    ul li:hover,
    ol li:hover {
      ul,
      ol {
        display: block;
        left: 100%;
        opacity: 1;
        position: absolute;
        top: 0;
        visibility: visible;
      }
    }
  }
}


// Vertical Navigation
.nav-vertical {
  li {
    display: block;
    margin-right: 0px;
    padding: 10px;
  }

  &.nav-bordered {
    border: 1px solid #eee;

    li:hover { background-color: #f6f6f6; }
  }

  &.nav-line li:hover { background-color: #f6f6f6; }

  .badge,
  .label { margin-top: 5px; }

  .dropdown .dropdown-menu { top: 100%; }
}

@include breakpoint(small) {
  .nav-vertical .dropdown .dropdown-menu {
    left: 100%;
    top: 0;
  }
}
