.nav-vertical li {
  display: block;
  margin-right: 0px;
  padding: 10px;
}

.nav-vertical.nav-bordered { border: 1px solid #eee; }

.nav-vertical.nav-bordered li:hover { background-color: #f6f6f6; }

.nav-vertical.nav-line li:hover { background-color: #f6f6f6; }

.nav-vertical .badge,
.nav-vertical .label { margin-top: 5px; }

.nav-vertical .dropdown .dropdown-menu { top: 100%; }

@media (min-width: 48em) {
  .nav-vertical .dropdown .dropdown-menu {
    left: 100%;
    top: 0;
  }
}
