.nav-dropdown ul ol,
.nav-dropdown ul ul,
.nav-dropdown ul ul ul,
.nav-dropdown ul ol ul,
.nav-dropdown ul ul ol,
.nav-dropdown ul ol ol,
.nav-dropdown ol ol,
.nav-dropdown ol ul,
.nav-dropdown ol ul ul,
.nav-dropdown ol ol ul,
.nav-dropdown ol ul ol,
.nav-dropdown ol ol ol {
  display: none;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
  width: 150px;
  z-index: 99999;
}

.nav-dropdown .list-inline li li, .nav-dropdown.list-inline li li { margin-right: 0px; }

.nav-dropdown li li { display: block; }

.nav-dropdown ul ul ul,
.nav-dropdown ul ol ul,
.nav-dropdown ul ul ol,
.nav-dropdown ul ol ol,
.nav-dropdown ol ul ul,
.nav-dropdown ol ol ul,
.nav-dropdown ol ul ol,
.nav-dropdown ol ol ol { display: block; }

.nav-dropdown ul li:hover ul,
.nav-dropdown ul li:hover ol,
.nav-dropdown ol li:hover ul,
.nav-dropdown ol li:hover ol {
  display: block;
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-dropdown ul li:hover ul ul,
.nav-dropdown ul li:hover ol ul,
.nav-dropdown ul li:hover ul ol,
.nav-dropdown ul li:hover ol ol,
.nav-dropdown ol li:hover ul ul,
.nav-dropdown ol li:hover ol ul,
.nav-dropdown ol li:hover ul ol,
.nav-dropdown ol li:hover ol ol {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.nav-dropdown ul ul li:hover ul,
.nav-dropdown ul ul li:hover ol,
.nav-dropdown ul ol li:hover ul,
.nav-dropdown ul ol li:hover ol,
.nav-dropdown ol ul li:hover ul,
.nav-dropdown ol ul li:hover ol,
.nav-dropdown ol ol li:hover ul,
.nav-dropdown ol ol li:hover ol {
  display: block;
  left: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  visibility: visible;
}

.nav-vertical li {
  display: block;
  margin-right: 0px;
}

.nav-vertical li a {
  display: block;
  padding: 10px;
}

.nav-vertical.nav-bordered { border: 1px solid #eee; }

.nav-vertical.nav-bordered li:hover { background-color: #f6f6f6; }

.nav-vertical.nav-line li:hover { background-color: #f6f6f6; }

.nav-vertical .badge,
.nav-vertical .label { margin-top: 5px; }

.nav-vertical .dropdown .dropdown-menu { top: 100%; }

@media (min-width: 48em) {
  .nav-vertical .dropdown .dropdown-menu {
    left: 100%;
    top: 0;
  }
}
