<header class="siteHeader">
  <div class="container">
    <div class="logo">
      <a href="http://concisecss.com/">
        <img src="{{ site.baseurl }}/images/logo.svg" alt="Concise Logo" />
      </a>
    </div>

    <nav class="nav-reponsive">
      <ul class="list-inline">
        {% for link in site.nav %}
          <li>
            <a {% if page.url == link.url or page.layout == link.layout %}class="active"{% endif %} href="{{ link.url }}">{{ link.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
