h1 Buttons

h2.heading--docs Default

p
  | This is a default button that can be created by adding the <code>.button</code>
  | class to any element, or using the <code>&lt;button&gt;</code> element.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/aOgNMd/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/aOgNMd/'>Default buttons - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.

h2.heading--docs Background Colors

p
  | All of the background color helper classes can be added to any button.

p.note
  | These background colors are generated from the <code>states</code> array
  | inside of the <code>$colors</code> map in <code>/core/globals/_globals.scss</code> and can be modified in
  | <code>/custom/_globals.scss</code>.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/mJZPgp/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/mJZPgp/'>Background colors in buttons - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.

h2.heading--docs Modifiers

p
   | These modifier classes can be used to adjust the style of a button.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/aOgNrN/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/aOgNrN/'>Button modifiers - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.
