h1
  span 1.5
  span Code

h2.heading--docs Inline

p Wrap inline snippets of code using the <code>&lt;code&gt;</code> tag.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/waLGbE/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/waLGbE/'>Code - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.

h2.heading--docs Flat Code Blocks

p
  | If you would like to remove all styling from a code block, you can use
  | the <code>.pre--flat</code> modifier class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/LVKZJd/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/LVKZJd/'>Flat code blocks - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.

h2.heading--docs User Input

p
  | You also may wish to use the <code>&lt;kbd&gt;</code> tag to indicate
  | content that was entered via the keyboard.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/ZGdOqB/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/ZGdOqB/'>User Input - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.
