h1
  span 1.13
  span Colors

p
  | An entire color palette is included in Concise that you can use for various
  | elements in your design.

p.note
  | You can view and modify the color palette inside of the <code>$colors</code>
  | map in <code>/custom/_globals.scss</code>.

h3 Base Colors

div.colorPalette
  div.colorPalette-third
    div.colorPalette-basePrimary
      p
        span
          | base, primary
  div.colorPalette-third
    div.colorPalette-baseSelection
      p
        span
          | base, selection
  div.colorPalette-third
    div.colorPalette-baseLines
      p
        span
          | base, lines

h3 Text Colors

div.colorPalette
  div.colorPalette-fourth
    div.colorPalette-textPrimary
      p
        span
          | text, primary
  div.colorPalette-fourth
    div.colorPalette-textSecondary
      p
        span
          | text, secondary
  div.colorPalette-fourth
    div.colorPalette-textHeading
      p
        span
          | text, heading
  div.colorPalette-fourth
    div.colorPalette-textUI
      p
        span
          | text, UI

h3 Background Colors

div.colorPalette
  div.colorPalette-third
    div.colorPalette-backgroundDark
      p
        span
          | background, dark
  div.colorPalette-third
    div.colorPalette-backgroundLight
      p
        span.text--dark
          | background, light
  div.colorPalette-third
    div.colorPalette-backgroundBody
      p
        span.text--dark
          | background, body

h3 State Colors

div.colorPalette
  div.colorPalette-fifth
    div.colorPalette-stateMuted
      p
        span
          | state, muted
  div.colorPalette-fifth
    div.colorPalette-statePrimary
      p
        span
          | state, primary
  div.colorPalette-fifth
    div.colorPalette-stateSuccess
      p
        span
          | state, success
  div.colorPalette-fifth
    div.colorPalette-stateWarning
      p
        span
          | state, warning
  div.colorPalette-fifth
    div.colorPalette-stateError
      p
        span
          | state, error

h3 Blue Colors

div.colorPalette
  div.colorPalette-fifth
    div.colorPalette-blueDarker
      p
        span
          | blue, darker
  div.colorPalette-fifth
    div.colorPalette-blueDark
      p
        span
          | blue, dark
  div.colorPalette-fifth
    div.colorPalette-blue
      p
        span
          | blue, base
  div.colorPalette-fifth
    div.colorPalette-blueLight
      p
        span
          | blue, light
  div.colorPalette-fifth
    div.colorPalette-blueLighter
      p
        span
          | blue, lighter

h3 Green Colors

div.colorPalette
  div.colorPalette-fifth
    div.colorPalette-greenDarker
      p
        span
          | green, darker
  div.colorPalette-fifth
    div.colorPalette-greenDark
      p
        span
          | green, dark
  div.colorPalette-fifth
    div.colorPalette-green
      p
        span
          | green, base
  div.colorPalette-fifth
    div.colorPalette-greenLight
      p
        span
          | green, light
  div.colorPalette-fifth
    div.colorPalette-greenLighter
      p
        span
          | green, lighter

h3 Cream Colors

div.colorPalette
  div.colorPalette-fifth
    div.colorPalette-creamDarker
      p
        span
          | cream, darker
  div.colorPalette-fifth
    div.colorPalette-creamDark
      p
        span
          | cream, dark
  div.colorPalette-fifth
    div.colorPalette-cream
      p
        span
          | cream, base
  div.colorPalette-fifth
    div.colorPalette-creamLight
      p
        span
          | cream, light
  div.colorPalette-fifth
    div.colorPalette-creamLighter
      p
        span
          | cream, lighter

h3 Red Colors

div.colorPalette
  div.colorPalette-fifth
    div.colorPalette-redDarker
      p
        span
          | red, darker
  div.colorPalette-fifth
    div.colorPalette-redDark
      p
        span
          | red, dark
  div.colorPalette-fifth
    div.colorPalette-red
      p
        span
          | red, base
  div.colorPalette-fifth
    div.colorPalette-redLight
      p
        span
          | red, light
  div.colorPalette-fifth
    div.colorPalette-redLighter
      p
        span
          | red, lighter

h3 Gray Colors

div.colorPalette
  div.colorPalette-fifth
    div.colorPalette-grayDarker
      p
        span
          | gray, darker
  div.colorPalette-fifth
    div.colorPalette-grayDark
      p
        span
          | gray, dark
  div.colorPalette-fifth
    div.colorPalette-gray
      p
        span
          | gray, base
  div.colorPalette-fifth
    div.colorPalette-grayLight
      p
        span
          | gray, light
  div.colorPalette-fifth
    div.colorPalette-grayLighter
      p
        span
          | gray, lighter


h2 Helper Function

p
  | The <code>getColor()</code> function has been included to help easily retrieve
  | colors from our color palette. Please refer to the documentation
  | on <a href='/documentation/core/functions-mixins'>functions</a> to see how to use
  | the <code>getColor()</code> function.

p.note
  | You can view and modify the color palette inside of the <code>$colors</code>
  | map in <code>/custom/_globals.scss</code>.

h2 Text Colors

p
  | Helper classes have been included so you can easily change the color of text.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/doBXgK/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/doBXgK/'>Text Colors - Concise Framework</a> by on <a href='http://codepen.io'>CodePen</a>.

h2 Background Colors

p
  | If you want to change the background of an element, you can do so by using
  | one of the <code>.bg--*</code> classes provided by Concise. These classes can
  | be used on any element or with any class provided by Concise
  | (eg: buttons, tables, etc).

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/KpjMrV/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/KpjMrV/'>Background colors - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.
