h1
  span 1.11
  span Fluid Media

p 
  | You can ensure that media fits properly across all devices by using 
  | the <code>.media--fluid</code> class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/EjByOv/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;') 
  | See the Pen <a href='http://codepen.io/jameskolce/pen/EjByOv/'>Fluid media - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.
