h1
  span 1.6
  span Forms

p 
  | This is a basic form composed of the <code>&lt;form&gt;</code> tag containing various labels 
  | and inputs.

p.note
  | Each label and input pair are wrapped in a <code>&lt;p&gt;</code> tag that adds 
  | top margin and keeps our respective labels and inputs in their own block 
  | so no content wraps around them.</p>

iframe(height='500' scrolling='no' src='//codepen.io/jameskolce/embed/BNgzGg/?height=500&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/BNgzGg/'>Forms - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Fieldset

p 
  | Wrapping your form content with a <code>&lt;fieldset&gt;</code> tag allows you to 
  | group related elements inside of your form. Adding the <code>&lt;legend&gt;</code> 
  | tag allows you to denote each section with a small heading.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/XbLKog/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/XbLKog/'>Fieldsets - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Inline

p
  | Adding the class <code>.form--inline</code> to your <code>&lt;form&gt;</code> 
  | element allows you to display your form elements in an inline fashion.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/BNgzMX/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/BNgzMX/'>Inline forms - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Input Modifiers

p 
  | Modifier classes have been included that should help in appropriately styling 
  | inputs inside of your forms.

h3 Input Sizes

p
  | The modifier classes <code>.input--small</code> and <code>.input--large</code> 
  | can be used on <code>&lt;input&gt;</code> elements to adjust the size of the element.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/XbLKGg/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/XbLKGg/'>Input sizes - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h3 Input States

p
  | Modifier classes have been added to handle different states for inputs. 
  | This includes the default <code>disabled</code> and <code>readonly</code> 
  | included by the browser, as well as <code>input--success</code>, 
  | <code>input--warning</code>, and <code>input--error</code>.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/LVKZam/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/LVKZam/'>Input states - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h3 Flat Input

p 
  | You can remove all styles from any form input using the modifier class 
  | <code>.input--flat</code>.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/bdPeJG/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/bdPeJG/'>Flat inputs - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h3 Helper Text

p
  | Sometimes it can be useful to have helper text for form inputs. That's why 
  | we've included the <code>.input--help</code> helper class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/MwMeRJ/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/MwMeRJ/'>Helper text for forms - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.
