h1
  span 1.16
  span Functions &amp; Mixins

p
  | Concise leverages the power of SASS to include mixins and functions that
  | help with common tasks.

h2 Mixins

h3.heading--monospace clearfix()

p
  | This mixin takes no parameters, and is only used to generate CSS that will
  | clear both left and right floats.

h3.heading--monospace container()

p
  | This mixin takes no parameters, and is only used to generate a container for
  | content that is the width of the <code>$container-width</code> variable.

h3.heading--monospace row()

p
  | This mixin generates CSS for a row that is used to contain columns.

div.table--responsive
  table.table
    thead
      tr
        th(scope='col') Parameter
        th(scope='col') Type
        th(scope='col') Description

    tbody
      tr
        td: code $clear-gutter
        td Boolean
        td Set false to contain columns without gutter (Default is <code>true</code>)

h3.heading--monospace column()

p
  | Use this mixin to generate CSS for a column.

div.table--responsive
  table.table
    thead
      tr
        th(scope='col') Parameter
        th(scope='col') Type
        th(scope='col') Description

    tbody
      tr
        td: code $size
        td Fraction
        td The size of the column, should be a number between 0-1. (Example: <code>1/2</code>)

      tr
        td: code $add-gutter
        td Boolean
        td Set this to false if you want to create a column without gutter (Default is <code>true</code>)

h3.heading--monospace columnOffset()

p
  | Use this mixin to generate CSS for a column.

div.table--responsive
  table.table
    thead
      tr
        th(scope='col') Parameter
        th(scope='col') Type
        th(scope='col') Description

    tbody
      tr
        td: code $offset
        td Fraction
        td The size of the offset, should be a number between 0-1. (Example: <code>1/2</code>)


h2 Functions

h3.heading--monospace unitSize()

p
  | Use this function to set sizes with proportions. This can help maintain
  | vertical rhythm, and keep your design consistent.

div.table--responsive
  table.table
    thead
      tr
        th(scope='col') Parameter
        th(scope='col') Type
        th(scope='col') Description

    tbody
      tr
        td: code $multiplier
        td Number
        td Amount to multiply the base unit by (8px by default)


      tr
        td: code $offset
        td Number
        td A value in pixels which will be added to the result. This can be positive for addition or negative for subtraction (default is 0)


h3.heading--monospace pxToEm()

p
  | This function converts <code>px</code> units to <code>em</code> units based
  | off of the base font-size. This is used throughout the framework for
  | calculating font-sizes.

.table--responsive
  table.table
    thead
      tr
        th(scope='col') Parameter
        th(scope='col') Type
        th(scope='col') Description

    tbody
      tr
        td: code $px
        td Number
        td The value in pixels to convert

      tr
        td: code $base
        td Number
        td The base font-size used to calculate <code>em</code> units (Default is <code>$font-base-size</code>)

h3.heading--monospace getColor()

p
  | Using this function, you can easily retrieve colors from the <code>$colors</code>
  | map and use them throughout your design.

.table--responsive
  table.table
    thead
      tr
        th(scope='col') Parameter
        th(scope='col') Type
        th(scope='col') Description

    tbody
      tr
        td: code $color
        td String
        td The name of the color to retrieve

      tr
        td: code $value
        td Color
        td The shade of the color to retrieve
