h1
	span 1.8
	span Grid System

p
	| Concise uses the <a href="https://github.com/jameskolce/atgrid.css" target="_blank">atGrid</a>
	| grid system built by Concise contributor <a href="http://jameskolce.com/" target="_blank">James Kolce</a>.
	| This system relies primarily on HTML attributes for building out rows and columns.
	| However, mixins are also included for writing semantic markup

p.note
	| Please refer to our documentation on <a href="/documentation">mixins</a>
	| to see arguments and outputs for each mixin.

p
	| By default, the grid system has a container width of <code>1200px</code>,
	| 12 columns, and <code>30px</code> gutters.

p.note
	| You can find all of the configuration for the Concise grid inside
	| of <code>/custom/_globals.scss</code>.

h2 Containers

p
	| You can wrap content in the <code>container</code> attribute to set a max
	| width of <b>1200px</b> and center content. Alternatively, you can use
	| the <code>container()</code> mixin to create semantic containers.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/EjByzb/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
	| See the Pen <a href='http://codepen.io/jameskolce/pen/EjByzb/'>Grid containers - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Rows

p
	| You can create a row that holds your columns either by using
	| the <code>row</code> attribute, or by using the included <code>row()</code> mixin.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/aOgZgE/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
	| See the Pen <a href='http://codepen.io/jameskolce/pen/aOgZgE/'>Grid rows - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Columns

p
	| Columns are nested inside of rows, and can be created either by using
	| the <code>column</code> attribute or by using the <code>column()</code> mixin.

p
	| When using the <code>column()</code> mixin, you must supply an argument for
	| the size of the column, this being a fraction of a number from 0 to 1
	| <small>(<b>e.g.</b> 1/6)</small>.


p.note
	| By default, all columns collapse into 100% width at <b>48em</b>.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/oXrLKP/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
	| See the Pen <a href='http://codepen.io/jameskolce/pen/oXrLKP/'>Grid columns - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Deleting Gutters

p
	| By default, grid columns have <b>30px</b> gutters. You can change this
	| amount in your custom configuration in <code>custom/_globals.scss</code>. You can also
	| choose whether or not to use gutters in the second argument of the <code>column()</code> mixin.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/OVeRJL/?height=268&theme-id=18044&default-tab=css' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
	| See the Pen <a href='http://codepen.io/jameskolce/pen/OVeRJL/'>Column gutters - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Nesting

p
	| You also can nest grids inside of each other by nesting a <code>row</code>
	| attribute inside of a column.


iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/LVKRYB/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
	| See the Pen <a href='http://codepen.io/jameskolce/pen/LVKRYB/'>Nested grid - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.

h2 Offset

p
	| You can add an offset to a column by adding <code>+1</code> through <code>+11</code>
	| in the <code>column</code> attribute. This will shift the column so you
	| can have more control over the layout.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/NqZRPG/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
	| See the Pen <a href='http://codepen.io/jameskolce/pen/NqZRPG/'>Column offset - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.
