h1
  span 1.2
  span Headings

p
  | Concise includes all standard HTML headings <code>&lt;h1&gt;</code> through
  | <code>&lt;h6&gt;</code>. Also included are classes <code>.h1</code> through
  | <code>.h6</code> that match the size of their respective headings, and can be
  | used on any element.

p.note
  | SASS variables are used for the various heading sizes. You can find these
  | variables at the top of the <code>/custom/_globals.scss</code> file.
  | You can also change the <code>$font-family-headings</code> variable
  | to adjust the base font family for headings.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/XbLVKz/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/XbLVKz/'>Headings - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2.heading--docs Sub-Headings

p
  | You also can create sub-headings for your headings using the
  | <code>&lt;small&gt;</code> tag or the <code>.small</code> class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/GJbyqb/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/GJbyqb/'>Sub-headings - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2.heading--docs Extra-Large headings

p
  | Sometimes there is a need for headings that are larger than the standard
  | <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>. Anticipating this need,
  | Concise comes with three classes that can be used to super-size your headings.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/aOgEmG/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/aOgEmG/'>Extra-large headings</a> on <a href='http://codepen.io'>CodePen</a>.
