h1
  span 1.15
  span Misc Styles

p
  | These are miscellaneous styles that have been added to Concise, but aren't
  | really large enough to warrant their own page.

h2 Print

p
  | We want your website to look great on the web, and when somebody tries to
  | print it onto a piece of paper. This is why we have included some base print
  | styles inside of <code>src/core/layout/_print.scss</code>. These are styles
  | that will only display for printed pages.

p.note
  | You can change the base font-family for printed files by finding the
  | <code>$font-family-print</code> variable inside of the
  | <code>/custom/_globals.scss</code> file.

h2 Horizontal Rule

p
  | You can use a horizontal rule element (<code>&lt;hr&gt;</code>) to separate
  | content on a page.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/gpNomY/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/gpNomY/'>Horizontal rules - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Figures

p
  | You can use the <code>&lt;figure&gt;</code> tag to properly markup an image
  | on your page.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/bdPaqE/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/bdPaqE/'>Figures - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.
