---
# Masthead
masthead-subtitle: Learn how to use all of great features that Concise provides.

# Navigation
layout-nav:
- text: Container
  url: /documentation/layout/container/
- text: Grid
  url: /documentation/layout/grid/
- text: Breakpoints
  url: /documentation/layout/breakpoints/

typography-nav:
- text: Headings
  url: /documentation/typography/headings/
- text: Body
  url: /documentation/typography/body/
- text: Emphasis
  url: /documentation/typography/emphasis/
- text: Abbreviations
  url: /documentation/typography/abbreviations/
- text: Positioning
  url: /documentation/typography/positioning/
- text: Weights
  url: /documentation/typography/weights/
- text: Colors
  url: /documentation/typography/colors/
- text: Ampersand
  url: /documentation/typography/ampersand/

navigation-nav:
- text: Dropdowns
  url: /documentation/navigation/dropdowns/
- text: Responsive
  url: /documentation/navigation/responsive/

elements-nav:
- text: Lists
  url: /documentation/elements/lists/
- text: Code
  url: /documentation/elements/code/
- text: Tables
  url: /documentation/elements/tables/
- text: Forms
  url: /documentation/elements/forms/
- text: Buttons
  url: /documentation/elements/buttons/

helper-nav:
- text: Background Colors
  url: /documentation/helper-classes/background-colors/
- text: Conditional Styling
  url: /documentation/helper-classes/conditional-styling/
- text: Carets
  url: /documentation/helper-classes/carets/
- text: Quick Floats
  url: /documentation/helper-classes/quick-floats/
- text: Screen Reader
  url: /documentation/helper-classes/screen-reader/
- text: Image Replacement
  url: /documentation/helper-classes/image-replacement/

sass-nav:
- text: Mixins
  url: /documentation/sass/mixins/
- text: Silent Classes
  url: /documentation/sass/silent-classes/
---

{% include head.html %}

  {% include navigation.html %}

  {% include masthead.html %}

  <div class="container">
    <div class="documentation">
      <div class="documentation-sidebar">
        <nav class="nav-responsive-center nav-responsive-text">
          <ul>
            <li class="header">Layout</li>

            {% for link in page.layout-nav %}
              <a href="{{ link.url }}">
                <li {% if link.url == page.url %}class="active"{% endif %}>{{ link.text }}</li>
              </a>
            {% endfor %}
          </ul>

          <ul>
            <li class="header">Typography</li>

            {% for link in page.typography-nav %}
              <a href="{{ link.url }}">
                <li {% if link.url == page.url %}class="active"{% endif %}>{{ link.text }}</li>
              </a>
            {% endfor %}
          </ul>

          <ul>
            <li class="header">Navigation</li>

            {% for link in page.navigation-nav %}
              <a href="{{ link.url }}">
                <li {% if link.url == page.url %}class="active"{% endif %}>{{ link.text }}</li>
              </a>
            {% endfor %}
          </ul>

          <ul>
            <li class="header">Elements</li>

            {% for link in page.elements-nav %}
              <a href="{{ link.url }}">
                <li {% if link.url == page.url %}class="active"{% endif %}>{{ link.text }}</li>
              </a>
            {% endfor %}
          </ul>

          <ul>
            <li class="header">Helper Classes</li>

            {% for link in page.helper-nav %}
              <a href="{{ link.url }}">
                <li {% if link.url == page.url %}class="active"{% endif %}>{{ link.text }}</li>
              </a>
            {% endfor %}
          </ul>

          <ul>
            <li class="header">SASS</li>

            {% for link in page.sass-nav %}
              <a href="{{ link.url }}">
                <li {% if link.url == page.url %}class="active"{% endif %}>{{ link.text }}</li>
              </a>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <main class="documentation-content">
        <h1>{{ page.subtitle }}</h1>

        {{ content }}
      </main>
    </div>
  </div>

{% include footer.html %}
