  <footer class="text-center small">
    <ul class="list-inline list-unstyled color-white no-margin line">
      <li><a href="{{ site.baseurl }}/credits">Credits</a></li>
      <li><a href="https://github.com/ConciseCSS/concise.css/blob/master/CONTRIBUTING.md">Contributing</a></li>
      <li><a href="https://github.com/ConciseCSS/concise.css/issues" target="_blank">Issues</a></li>
      <li><a href="https://github.com/ConciseCSS/concise.css/wiki/Changelog" target="_blank">Changelog</a></li>
      <li><a href="https://www.gittip.com/keenanpayne/" target="_blank">Gittip</a></li>
      <li><a href="http://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></li>
      <li><a href="http://facebook.com/{{ site.facebook_username }}" target="_blank">Facebook</a></li>
      <li class="last"><a href="https://plus.google.com/{{ site.googleplus_username }}" target="_blank">G+</a></li>
    </ul>
    
    <p class="text-uppercase no-margin">Created and Maintained with <span class="icon heart color-red"></span> by <a href="http://keenanpayne.com" title="Keenan Payne" target="_blank">Keenan Payne</a></p>
  </footer>
  
  {% include analytics.html %}
</body>
</html>