  <footer class="siteFooter">
    <div class="container">
      <ul class="list-inline list-unstyled">
        <a href="https://github.com/ConciseCSS/concise.css/blob/master/CONTRIBUTING.md"><li>Contributing</li></a>
        <a href="https://github.com/ConciseCSS/concise.css/issues" target="_blank"><li>Issues</li></a>
        <a href="https://github.com/ConciseCSS/concise.css/releases" target="_blank"><li>Changelog</li></a>
        <a href="https://www.gittip.com/keenanpayne/" target="_blank"><li>Gittip</li></a>
        <a href="http://twitter.com/{{ site.twitter_username }}" target="_blank"><li>Twitter</li></a>
        <a href="http://facebook.com/{{ site.facebook_username }}" target="_blank"><li>Facebook</li></a>
        <a href="https://plus.google.com/{{ site.googleplus_username }}" target="_blank" rel="publisher"><li>G+</li></a>
      </ul>

      <p>Created and Maintained with <span class="icon heart color-red"></span> by <a href="http://keenanpayne.com" title="Keenan Payne" target="_blank">Keenan Payne</a></p>
    </div>
  </footer>

  {% include analytics.html %}
</body>
</html>
