<div class="container center">
  <div class="row no-margin top-nav-container">
    <div class="column-6 logo">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/logo.svg" alt="Concise Logo" />
      </a>
    </div><!-- .column-6 -->

    <div class="column-18">
      <nav class="top-nav bg-white nav-responsive">
        <ul class="text-right list-inline text-uppercase">
          {% for link in site.nav %}
            <li>
              <a {% if link.url == page.url %}class="active"{% endif %} href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav><!-- .top-nav -->
    </div><!-- .column-18 -->
  </div><!-- .row -->
</div><!-- .container -->
