.btn.btn-rounded { border-radius: 4px; }
.btn.btn-pill { border-radius: 25px; }
.btn.btn-border {
  background: transparent;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  color: #aaa;
}
.btn.btn-border:hover {
  background: #ddd;
  color: #fff !important;
}
.btn.btn-border.white {
  border-color: white;
  color: white;
}
.btn.btn-border.white:hover {
  background: white;
  color: #222222 !important;
}
.btn.btn-border.black {
  border-color: #222222;
  color: #222222;
}
.btn.btn-border.black:hover {
  background-color: #222222;
}
.btn.btn-border.black:active, .btn.btn-border.black:focus {
  background-color: #222222;
}
.btn.btn-border.gray {
  border-color: #999999;
  color: #999999;
}
.btn.btn-border.gray:hover {
  background-color: #999999;
}
.btn.btn-border.gray:active, .btn.btn-border.gray:focus {
  background-color: #737373;
}
.btn.btn-border.green {
  border-color: #5cb85c;
  color: #468847;
}
.btn.btn-border.green:hover {
  background-color: #5cb85c;
}
.btn.btn-border.green:active, .btn.btn-border.green:focus {
  background-color: #3d8b3d;
}
.btn.btn-border.blue {
  border-color: #5bc0de;
  color: #3a87ad;
}
.btn.btn-border.blue:hover {
  background-color: #5bc0de;
}
.btn.btn-border.blue:active, .btn.btn-border.blue:focus {
  background-color: #28a1c5;
}
.btn.btn-border.yellow {
  border-color: #ed9c28;
  color: #c09853;
}
.btn.btn-border.yellow:hover {
  background-color: #ed9c28;
}
.btn.btn-border.yellow:active, .btn.btn-border.yellow:focus {
  background-color: #b9730f;
}
.btn.btn-border.red {
  border-color: #d9534f;
  color: #d2322d;
}
.btn.btn-border.red:hover {
  background-color: #d9534f;
}
.btn.btn-border.red:active, .btn.btn-border.red:focus {
  background-color: #b52b27;
}
