//
// Buttons
// =============================================================================

.button {
  font-family: $font-family-headings;
  font-size: pxToEm(14);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition-property: background-color;

  &:hover,
  &:focus { background-color: lighten(getColor(base, primary), 10%); }
}

.button + .button {
  margin-left: 1em;

  &.button--collapse {
    margin-left: 0;
    margin-top: 1em;

    @media (min-width: $bp-extra-small) {
      margin-left: 1em;
      margin-top: 0;
    }
  }
}

.button--secondary {
  background-color: getColor(base, secondary);

  &:hover,
  &:focus { background-color: lighten(getColor(base, secondary), 5%); }
}