[container="small"] {
  max-width: 800px;
}

h1 {
  margin-top: 3lh;
  border-bottom: 1px solid getColor(base, lines);
  padding-bottom: 0.25lh;
  margin-bottom: 1lh;
}

h2 {
  margin-top: 1.5lh;
  margin-bottom: 0.5lh;
}

h3 {
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-size: typeScale(1);
  margin-bottom: 0.1lh;
}

main a,
article a {
  font-feature-settings: "smcp" 1, "c2sc" 1;
  letter-spacing: 0.05em;

  &[href*="//"]:not([href*="concisecss.com"]):after,
  &[href*="//"]:not([href*="localhost"]):after {
    content: "°";
    color: getColor(base, primary);
    font-size: 0.9em;
    top: -0.1em;
    right: 0.05em;
    position: relative;
  }
}

a {
  color: getColor(text, primary);

  &:hover,
  &:focus {
    color: getColor(base, primary);
  }
}

pre {
  background-color: transparent;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  padding-right: 0;

  code {
    color: getColor(text, secondary);
    font-size: 100% / $scale-ratio;
  }
}

code,
pre {
  background-color: transparent;
}

code {
  border: 0;
}

ol {
  padding: 0;
}

ol ol {
  margin-top: 0;
  margin-left: 1em;

  a {
    text-transform: capitalize;
  }
}

li {
  list-style-type: circle;
}