doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Concise Framework
    meta(name='description' content='Concise is a lightweight front-end framework that provides a number of great features without the bloat.')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    script(src='//use.typekit.net/glq4bcp.js')
    script try{Typekit.load({ async: true });}catch(e){}

    link(rel='stylesheet' href='/styles/main.css')
    link(rel='icon' href='/favicon.png')
  body
    .sidebar-container
      include _includes/_index-nav

    .main-container
      article(container='small')
        block content

      include _includes/_footer

    script(src='https://code.jquery.com/jquery-3.1.1.slim.js' integrity='sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA=' crossorigin='anonymous')
    script(src='/scripts/main.js')

    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-23449205-5','auto');ga('send','pageview')

    script(src='https://www.google-analytics.com/analytics.js' async defer)
