extends _layout

block content
  h1 The Core of Concise CSS

  p The Core is composed almost entirely of styles for native HTML elements, the grid system, and the default settings. When you include Concise on your project, you won't have any classes available; it will just provide a foundation to build your website however you like to do it.

  p Two elements compose the base styles: normalization using a custom version of #[a(href='https://github.com/jonathantneal/sanitize.css') sanitize.css] and Concise-specific styles for native HTML elements, where we provide better defaults on top of the normalization ones.

  p As in the previous version, the grid system uses attributes instead of classes offering a more intuitive way to build layouts. But if you prefer to use another grid system you can turn off the default one by setting the variable #[code $use-atgrid] to #[code false].

  p Finally, the core of Concise CSS provides a set of settings that will help you to build your website quickly: Font variables, spacing rules, custom media queries, a type scale function, a color palette, and other small things. All the key settings you will need when building any website.

  h2#settings Settings

  p Concise CSS provides a series of configuration variables that are used in the core and in the add-ons.

  p For example: Suppose that you have customized your settings with a new color palette, now if you add the Concise UI add-on, it will use—without any further modifications—your new color palette. The same will happen for all the other settings when you include add-ons, they will use your custom settings without any further changes.

  p Here is the complete file with the default settings:

  pre.language-scss: code.
    //
    // Base
    // --------------------------------------------------

    $font-size: 16;
    $font-size-secondary: 18;

    // Tracking
    $letter-spacing: 0.05em;

    // Font families
    $font-primary: "Helvetica", "Arial", sans-serif;
    $font-secondary: "Helvetica", "Arial", sans-serif;
    $font-mono: "Consolas", monospace;
    $font-print-primary: "Georgia", "Times New Roman", "Times", serif;
    $font-print-secondary: "Georgia", "Times New Roman", "Times", serif;

    // Automatic margins
    $automargin:   true;
    $block-margin: 1lh;

    // Transition duration
    $transition-duration: 150ms;

    // Custom media queries
    @custom-media --extra-small (width &lt;= 480px);
    @custom-media --small (width >= 480px);
    @custom-media --medium (width >= 768px);
    @custom-media --large (width >= 960px);
    @custom-media --extra-large (width >= 1100px);
    @custom-media --only-small (480px &lt; width &lt;= 768px);
    @custom-media --only-medium (768px &lt; width &lt;= 980px);
    @custom-media --only-large (980px &lt; width &lt;= 1100px);

    // Spacing
    $spacing-xs: 0.5lh;
    $spacing-s:  1lh;
    $spacing-m:  2lh;
    $spacing-l:  3lh;
    $spacing-xl: 4lh;

    //
    // Type Scale
    // --------------------------------------------------

    // Suggested ratios
    // Source: http://type-scale.com/
    // $_minor-second:     1.067;
    // $_major-second:     1.125;
    // $_minor-third:      1.200;
    // $_major-third:      1.250;
    // $_perfect-fourth:   1.333;
    // $_augmented-fourth: 1.414;
    // $_perfect-fifth:    1.500;
    // $_golden-ratio:     1.618;

    // Ratio for primary scale
    $scale-ratio: $_minor-third;

    // Ratio for secondary scale
    $scale-ratio-secondary: $_perfect-fourth;

    //
    // Grid
    // --------------------------------------------------

    // Create x-*, sm-*, md-*, lg-*, xl-* columns and offsets
    $full-grid: false;

    // Max width for container
    $container-width: 1200px;

    // Gutter size
    $gutter: 2em;

    // Number of columns in a row
    $num-columns: 12;

    // Prefix for attributes
    $prefix: '';

    // Create columns and offsets above this breakpoint
    $breakpoint: --small;

    //
    // Color Palette
    // --------------------------------------------------

    // Colors
    $colors: (
      base: (
        "primary":   #4591aa,
        "selection": #d6d6d6,
        "lines":     #e0e0e0
      ),

      text: (
        "primary":   #555,
        "secondary": #666,
        "heading":   #222,
        "ui":        white
      ),

      background: (
        "dark":  #282E31,
        "light": #f5f5f5,
        "body":  white
      ),

      state: (
        "muted":   #aaa,
        "primary": #4591aa,
        "success": #45ca69,
        "warning": #ffb800,
        "error":   #ca4829
      ),

      blue: (
        "darker":  #495b61,
        "dark":    #447281,
        "base":    #4591aa,
        "light":   #5ab0cc,
        "lighter": #74cbe8
      ),

      green: (
        "darker":  #3b6e6e,
        "dark":    #3b8686,
        "base":    #37a1a1,
        "light":   #2dbaba,
        "lighter": #69d1d1
      ),

      cream: (
        "darker":  #c47858,
        "dark":    #e29372,
        "base":    #ecac91,
        "light":   #f9c2ab,
        "lighter": #fdd5c3
      ),

      red: (
        "darker":  #653131,
        "dark":    #b73333,
        "base":    #da3c3c,
        "light":   #f25a5a,
        "lighter": #fa8181
      ),

      gray: (
        "darker":  #333333,
        "dark":    #4d4d4d,
        "base":    #666666,
        "light":   #808080,
        "lighter": #999999
      )
    );

  p You can just copy the previous code block in a #[code _settings.scss] file and include it in your project

  pre.language-scss: code.
    //
    // main.scss
    // ---------

    // Concise Settings
    @import "settings.scss";

    // Concise Core
    @import "node_modules/concise.css/concise";

  p The changes are extended to all the Concise CSS styles, after the compilation.

  h2#typography Typography

  p Typography is probably the most important element in web design, so we have added some features specially designed to get good results in this area.

  h3 Font families

  p Concise CSS includes five variables for font families:

  ul
    li #[code $font-primary]: The default font for the body.
    li #[code $font-secondary]: The font used in headings.
    li #[code $font-mono]: Used in code blocks.
    li #[code $font-print-primary]: The font used in the body when printing a web page.
    li #[code $font-print-secondary]: Used in the headings when you print a web page.

  p Sometimes you will need to use those in certain elements when you want a different style; you can do so like this:

  pre.language-scss: code.
    .myElement {
      font-family: $font-secondary;
    }

  h3 Base font sizes

  p You can set two different base sizes for your text. One for large displays and the other for small ones.

  ul
    li #[code $font-size]: The base font size for small displays
    li #[code $font-size-secondary]: The base font size for large displays

  p When the screen size is smaller than the value of the #[code $breakpoint] variable (#[code --small] custom media query), it will use #[code $font-size], and when is bigger it will use #[code $font-size-secondary].

  h3 Type Scale

  p Concise CSS uses a type scale whenever we have to set font sizes. For this, we use the #[code typeScale()] function, it will receive an integer starting from #[code 1] and will return the size in #[em rem] with that position.

  p The smaller size in the scale starts with #[code 1]. The second size (#[code 2]) is equal to #[code 1rem] which is the font size in the root. The size will be increasing proportionally to the base #[code font-size] as you increase the input number.

  p As a reference, the following code shows the sizes of the headings using the type scale provided by default.

  pre.language-scss: code.
    h1 { font-size: typeScale(6); }
    h2 { font-size: typeScale(5); }
    h3 { font-size: typeScale(4); }
    h4 { font-size: typeScale(3); }
    h5 { font-size: typeScale(2); }
    h6 { font-size: typeScale(1); }

  p As you can see, we start with the smaller size for the h6 elements and we go up gradually until #[code h1].

  p By default, the #[code typeScale()] function will use a ratio defined in the #[code $scale-ratio] variable, which is #[code $_minor-third] and has a value of #[code 1.2].

  p You have #[em eight] available ratios ready to use, here is the list:

  pre.language-scss: code.
    $_minor-second:     1.067
    $_major-second:     1.125
    $_minor-third:      1.200
    $_major-third:      1.250
    $_perfect-fourth:   1.333
    $_augmented-fourth: 1.414
    $_perfect-fifth:    1.500
    $_golden-ratio:     1.618

  p So you can use any of those in the #[code $scale-ratio] variable. Also, you can directly use the ratio you want, however, is recommended the available ones that will get you beautiful results from the beginning.

  p You can visualize those ratios in this website: #[a(href='http://type-scale.com/') Type-scale.com].

  p We strongly recommend to #[em always] use the scale when setting up font sizes. If you have doubts about what ratio use, ask your designer, and if your designer is not using ratios then recommend him/her to do so.

  p Sometimes just one scale might not be enough. Concise CSS also provides a second scale; you can use it by passing a second argument to the #[code typeScale()] function with anther ratio.

  pre.language-scss: code.
    .myElement {
      font-size: typeScale(3, $scale-ratio-secondary);
    }

  p We provide a default secondary ratio using #[code $_perfect-fourth] by default, which has a value of #[code 1.333]. However, we recommend sticking to just one scale in a project unless you #[em absolutely] need more.

  p To customize the secondary scale, you can adjust the ratio in the #[code $scale-ratio-secondary] variable with any value you want, however, we recommend to use one of the suggested ratios mentioned previously.

  h3 Letter spacing

  p We recommend increasing the letter spacing on uppercase text, especially if you like to use small caps between the text, like on this website.

  p Concise CSS provides a variable for this, and you can use it like this:

  pre.language-scss: code.
    .myUppercaseText {
      letter-spacing: $letter-spacing;
    }

  p The default value is #[code 0.05em] which will work for most of the cases, but you are free to modify it as you need. Just be careful in adding too much, is all about making uppercases more readable, not to make the text more flashy.

  p No, do not increase letter spacing in lowercase text, 99% of the time is a bad idea.

  h3 Paragraph spacing

  p By default, all the paragraphs—except the first one—will have a top margin of #[code 1lh], which is translated to #[code 1.5rem] after compilation if the line height remains as #[code 1.5] (default value). If you change the #[code line-height] of the #[code :root] element, the margin will be adapted automatically, for example, to #[code 2rem] if you set your line height to #[code 2].

  h2#grid-system Grid System

  p A grid system is a tool used to build a webpage layout. With it, you can organize your content into containers and columns. Concise CSS uses a custom version of the #[a(href='https://github.com/jameskolce/atgrid.css') atGrid.css] grid system by #[a(href='https://jameskolce.com') James Kolce], that focus in the use of custom attribute selectors instead of the usual class selectors in other systems.
  p By default, the grid will have 12 columns ready to use.

  h3 Why Attribute selectors

  p Custom attributes provide more expressiveness when building a layout and without polluting your classes than the conventional approach of using classes.

  p For example, take a look at the following comparison:

  pre.language-markup: code.
    &lt;!-- Common approach -->
    &lt;div class="grid">
      &lt;div class="col-6 pull-col-4">…&lt;/div>
    &lt;/div>

    &lt;!-- Concise CSS -->
    &lt;div grid>
      &lt;div column="6 +4">…&lt;/div>
    &lt;/div>

  p As you can see, you can get a cleaner result with Concise CSS, and this is totally okay to use though those attributes are not official. However, if you need HTML validation you can assign #[code data-] to the #[code $prefix] variable, and you can write your markup with data- attributes instead.

  h3 Containers

  p When building websites is a good practice to put the content inside a container that will have a limited width. So the content doesn't span across the screen making it hard to read.

  p To convert an element into a container you just have to add the #[code container] attribute to it.

  pre.language-markup: code.
    &lt;main container>
      …
    &lt;/main>

    &lt;section container>
      …
    &lt;/section>

  h3 The grid element

  p To organize your content sometimes you will need to split the site into columns. But columns should be contained in a grid element. The process is similar to containers; you just have to add the #[code grid] attribute to it.

  pre.language-markup: code.
    &lt;section grid>
      …
    &lt;/section>

  h3 Columns

  p Once you have a grid element, you can proceed to add columns inside of it. The process is, again, the same, but with the #[code column] attribute.

  pre.language-markup: code.
    &lt;section grid>
      &lt;article column>…&lt;/article>
      &lt;article column>…&lt;/article>
      &lt;article column>…&lt;/article>
      &lt;article column>…&lt;/article>
    &lt;/section>

  p By default, when you add a column it will take all the space available. In the previous example, each column will have a width of 25% because there are 4.

  p If you need one column to be bigger than other, you can put a number from 1 to 12 (by default) as the value of the #[code column] attribute, like this:

  pre.language-markup: code.
    &lt;main grid>
      &lt;article column='8'>…&lt;/article>
      &lt;section column='4'>…&lt;/section>
    &lt;/main>

  p In that example, the #[code article] element will have a width of 2/3 (#[em 8]/12) and the #[code section] element will have a width of 1/3, next to the article element.

  p Since columns without any value occupy all the space possible, we can omit the value for the #[code section] element:

  pre.language-markup: code.
    &lt;main grid>
      &lt;article column='8'>…&lt;/article>
      &lt;section column>…&lt;/section>
    &lt;/main>

  h3 Column offsets

  p There are cases where you need to move a column to the right side without creating an empty column next to it. For this, you can use column offsets, which are pretty simple to use.

  p You just have to add a number from #[code 1] to #[code 11] prefixed with the plus symbol (#[code +]) in the #[code column] element.

  pre.language-markup: code.
    &lt;main grid>
    &lt;article column='8 +2'>…&lt;/article>
    &lt;/main>

  p In that example, we have created a column with a width of 8/12 and with an offset of 2/12.

  h3 Columns without gutters

  p You can create columns without gutters by adding a #[code no-gutter] value in the #[code grid] attribute, like this:

  pre.language-markup: code.
    &lt;main grid="no-gutter">
      &lt;article column>…&lt;/article>
      &lt;article column>…&lt;/article>
      &lt;article column>…&lt;/article>
      &lt;article column>…&lt;/article>
    &lt;/main>

  p Now we have four columns without space between them.

  h3 Avoid column collapsing

  p By default, when the viewport in smaller than the #[code $breakpoint] variable (#[code --small]) each column will have full width. If you want to prevent this behavior you can add a #[code no-collapse] value in the #[code grid] element.

  pre.language-markup: code.
    &lt;main grid="no-collapse">
      &lt;article column>…&lt;/article>
      &lt;article column>…&lt;/article>
      &lt;article column>…&lt;/article>
      &lt;article column>…&lt;/article>
    &lt;/main>

  p So the four columns will have a width of 25% no matter the size of the screen.

  h3 Grid direction

  p You can adjust the direction of the columns in a grid without changing the markup. Concise CSS has available the four Flexbox options for this available as attribute values for the #[code grid] element.

  ul
    li #[strong row]: (Default on screens above #[code $breakpoint]) This will display the columns side by side in the same order as in the markup.
    li #[strong row-reverse]: This will display the columns horizontally in the #[em inverse] order as in the markup.
    li #[strong column]: (Default on screens below #[code $breakpoint]) This will display the columns vertically in the same order as in the markup.
    li #[strong row-reverse]: This will display the columns vertically in the #[em inverse] order as in the markup.

  pre.language-markup: code.
    &lt;section grid="row">…&lt;/section>
    &lt;section grid="row-inverse">…&lt;/section>
    &lt;section grid="column">…&lt;/section>
    &lt;section grid="column-inverse">…&lt;/section>

  h3 Grid justification

  p It's possible to adjust how the elements inside a grid will occupy the space available. Concise CSS exposes all the #[code justify-content] property values as attribute values in your markup.

  pre.language-markup: code.
    &lt;section grid="justify-start">…&lt;/section>
    &lt;section grid="justify-end">…&lt;/section>
    &lt;section grid="justify-center">…&lt;/section>
    &lt;section grid="justify-between">…&lt;/section>
    &lt;section grid="justify-around">…&lt;/section>

  p You can find more detailed information about how justification works in this #[a(href='https://css-tricks.com/almanac/properties/j/justify-content/') CSS-Tricks article].

  h3 Grid alignment

  p Vertical alignment of all the columns in a grid is easy and can be done directly in the markup by adding one of the following values in the #[code grid] attribute.

  ul
    li #[strong top]: (Default) Aligns all the columns to the upper part of the grid. Equivalent to #[code align-items: flex-start]
    li #[strong center]: This vertically centers all the columns within the grid. Equivalent to #[code align-items: center]
    li #[strong bottom]: Aligns all the columns to the lower part of the grid. Equivalent to #[code align-items: flex-end]
    li #[strong baseline]: Aligns the baselines of all the columns. Equivalent to #[code align-items: baseline]
    li #[strong stretch]: This will make the height equal in all the columns inside the grid so that they will fill all the vertical space. Equivalent to #[code align-items: stretch]

  pre.language-markup: code.
    &lt;section grid="top">…&lt;/section>
    &lt;section grid="center">…&lt;/section>
    &lt;section grid="bottom">…&lt;/section>
    &lt;section grid="baseline">…&lt;/section>
    &lt;section grid="stretch">…&lt;/section>

  h3 Column alignment

  p Sometimes you won't want to align all the columns in the grid, but just one or two. You can make it happen by adding one of the following values in the #[code column] attribute.

  ul
    li #[strong top]: (Default) Aligns the column to the upper part of the grid. Equivalent to #[code align-self: flex-start]
    li #[strong center]: This vertically centers the column within the grid. Equivalent to #[code align-self: center]
    li #[strong bottom]: Aligns the column to the lower part of the grid. Equivalent to #[code align-self: flex-end]

  pre.language-markup: code.
    &lt;main grid>
      &lt;section column="top">…&lt;/section>
      &lt;section column="center">…&lt;/section>
      &lt;section column="bottom">…&lt;/section>
    &lt;/main>

  h3 Enabling the full grid

  p If your website is complex, you can enable a complete grid to have better control over the layout for all the device sizes.

  p To enable the this feature you have to set the variable #[code $full-grid] to #[code true], and it will produce several new values for the #[code column] attribute.

  p When it's enabled, you will have the following types of columns available:

  ul
    li xs-
    li sm-
    li md-
    li lg-
    li xl-

  p And those can be used like this:

  pre.language-markup: code.
    &lt;main grid>
      &lt;section column="2">…&lt;/section>
      &lt;section column="4 xl-6 md-2">…&lt;/section>
      &lt;section column="xs-10 sm-8 md-6 lg-4 xl-2">…&lt;/section>
    &lt;/main>

  p Those attribute values will set the size of the column depending on the size of the viewport. The variables used are the custom media queries defined previously.

  h3 Other customizations

  p This is the complete list of customizations available in the Concise CSS grid system:

  ul
    li #[strong $full-grid]: Creates new values for the #[code column] attribute to allow more control over the size of the columns in different viewport sizes. Default is #[code false].
    li #[strong $container-width]: Sets the width of the #[container] element. Default is #[code 1200px].
    li #[strong $gutter]: The size of the space between columns. Default is #[code 2em].
    li #[strong $num-columns]: The maximum numbers of columns inside a grid. Default is #[code 12].
    li #[strong $prefix]: The prefix used for the attributes, you can set it to #[code data-] if you need to validate your markup. Default is #[code ''] (empty string).
    li #[strong $breakpoint]: Columns are collapsed to 100% below this point. Is recommended to use one of the custom media queries available here. Default is #[code --small].

  h2#color-palette Color Palette

  h2#print Print
  // Mention the styles provided for print

  h2#examples Examples
  // Show some examples so users can see the default styles in action