extends _layout

block content
  header
    nav

    h1 Concise Core

  main
    // What is Concise CSS Core

    h2 Normalization
    // Explain that we have some styles to normalize elements across browsers
    // Also providing a good base to add more styles

    h2 Typography
    // Headings
    // Paragraphs and all the inline elements
    // Blockquotes
    // Lists

    h2 Grid System
    // Show a demo of the grid system with all the functionality
    // Also, clarify the thing of attribute selectors

    h2 Tables
    // Show some table examples and markup

    h2 Forms
    // Show some form examples and markup,
    // Including their use within a grid

    h2 Print
    // Mention the styles provided for print

