extends ../_layout

block content
  header
    nav

    h1 Introduction

  main
    p Concise CSS provides a solid foundation to stylize your website. It offers an alternative to frameworks like Bootstrap and Foundation, with the difference that Concise only includes the minimum styles required. That does not mean that the features are limited; is possible to use add-ons on top of the core to extend the functionality as required.
    p The core of the framework only includes styles for native HTML elements. Components and utilities are provided as optional add-ons, Concise UI and Concise Utils, respectively.
    p Concise CSS is written using a custom CSS preprocessor, built on top of Sass and some PostCSS plugins; this means that you can still write Sass code as usual, but you can also enjoy of other custom features, like the `lh` unit provided to handle vertical rhythm.


    h2 Installation
    p There are 3 different options to install Concise CSS in your website, although the recommended way to use NPM.

    h3 Using the CDN
    p If you just want to try Concise CSS or of you do not have plans to customize the styles, you can use our CDN, this is the easier way to get started with the framework—and if you like it—is recommended to switch to NPM so that you can customize the styles.

    pre: code.
        /* Normal */
        &lt;link rel="stylesheet" href="https://cdn.concisecss.com/v4.0.0/concise.css">

    pre: code.
        /* Minified */
        &lt;link rel="stylesheet" href="https://cdn.concisecss.com/v4.0.0/concise.min.css">

    h3 Install with NPM

    p Execute the following command to install Concise CSS from NPM, in this case. If you are new to NPM, you can check the #[a(href='https://docs.npmjs.com/') official documentation].

    pre: code.
      npm install concise.css

    p Then you can include the main file inside your project:

    pre: code.
      // main.ccss
      // ---------

      // Concise Core
      @import "node_modules/concise.css/concise";

    h3 Copy the Source Files

    p Finally, if you prefer, you can just copy the framework files to your project folder.

    p You can download the latest version from Github from #[a(href='https://github.com/ConciseCSS/concise.css/archive/master.zip') this link], and place the files wherever you need them.

    h2 Building the Source Files

    p Concise CSS files have a #[code .ccss] extension, although this is not mandatory and #[code .scss] can be used, the #[code .ccss] is recommended to let other people know that is not plain Sass—but a Concise CSS file—since we also have other features available.

    p To build those source files, you need to install the Concise CLI globally:

    pre: code.
      npm install -g concise-cli

    p Once it is installed, you can compile source files with the #[code concisecss compile] command:

    pre: code.
      concisecss compile input.ccss output.css

    h2 Configuration

    p Concise CSS provides a series of configuration variables that are used in the core and all of the Concise add-ons.

    p Here is the complete file with the default settings:

    pre: code.
      //
      // Base
      // ----

      $font-size: 16;
      $font-size-secondary: 18;

      // Tracking
      $letter-spacing: 0.05em;

      // Font families
      $font-primary: "Helvetica", "Arial", sans-serif;
      $font-secondary: "Helvetica", "Arial", sans-serif;
      $font-mono: "Consolas", monospace;
      $font-print-primary: "Georgia", "Times New Roman", "Times", serif;
      $font-print-secondary: "Georgia", "Times New Roman", "Times", serif;

      // Automatic margins
      $automargin:   true;
      $block-margin: 1lh;

      // Transition duration
      $transition-duration: 150ms;

      // Custom media queries
      @custom-media --extra-small (width <= 480px);
      @custom-media --small (width >= 480px);
      @custom-media --medium (width >= 768px);
      @custom-media --large (width >= 960px);
      @custom-media --extra-large (width >= 1100px);
      @custom-media --only-small (480px < width <= 768px);
      @custom-media --only-medium (768px < width <= 980px);
      @custom-media --only-large (980px < width <= 1100px);

      // Spacing
      $spacing-xs: 0.5lh;
      $spacing-s:  1lh;
      $spacing-m:  2lh;
      $spacing-l:  3lh;
      $spacing-xl: 4lh;

      //
      // Type Scale
      // -------------

      // Suggested ratios
      // Source: http://type-scale.com/
      $minor-second:     1.067;
      $major-second:     1.125;
      $minor-third:      1.200;
      $major-third:      1.250;
      $perfect-fourth:   1.333;
      $augmented-fourth: 1.414;
      $perfect-fifth:    1.500;
      $golden-ratio:     1.618;

      // Ratio for primary scale
      $scale-ratio: $minor-third;

      // Ratio for secondary scale
      $scale-ratio-secondary: $perfect-fourth;

      //
      // Grid
      // ----

      // Create x-*, sm-*, md-*, lg-*, xl-* columns and offsets
      $full-grid: false;

      // Max width for container
      $container-width: 1200px;

      // Gutter size
      $gutter: 2em;

      // Number of columns in a row
      $num-columns: 12;

      // Prefix for attributes
      $prefix: '';

      // Create columns and offsets above this breakpoint
      $breakpoint: --small;

      //
      // Color Palette
      // -------------

      // Colors
      $colors: (
        base: (
          "primary":   #4591aa,
          "selection": #d6d6d6,
          "lines":     #e0e0e0
        ),

        text: (
          "primary":   #555,
          "secondary": #666,
          "heading":   #222,
          "ui":        white
        ),

        background: (
          "dark":  #282E31,
          "light": #f5f5f5,
          "body":  white
        ),

        state: (
          "muted":   #aaa,
          "primary": #4591aa,
          "success": #45ca69,
          "warning": #ffb800,
          "error":   #ca4829
        ),

        blue: (
          "darker":  #495b61,
          "dark":    #447281,
          "base":    #4591aa,
          "light":   #5ab0cc,
          "lighter": #74cbe8
        ),

        green: (
          "darker":  #3b6e6e,
          "dark":    #3b8686,
          "base":    #37a1a1,
          "light":   #2dbaba,
          "lighter": #69d1d1
        ),

        cream: (
          "darker":  #c47858,
          "dark":    #e29372,
          "base":    #ecac91,
          "light":   #f9c2ab,
          "lighter": #fdd5c3
        ),

        red: (
          "darker":  #653131,
          "dark":    #b73333,
          "base":    #da3c3c,
          "light":   #f25a5a,
          "lighter": #fa8181
        ),

        gray: (
          "darker":  #333333,
          "dark":    #4d4d4d,
          "base":    #666666,
          "light":   #808080,
          "lighter": #999999
        )
      );

    p You can just copy the previous code block in a #[code _settings.ccss] file and include it in your project

    pre: code.
      // main.ccss
      // ---------

      // Concise Settings
      @import "settings.ccss";

      // Concise Core
      @import "node_modules/concise.css/concise";

    p The changes are extended to all the Concise CSS styles, after the compilation.

    h2 Using Add-ons

    p The core styles of Concise CSS can be extended by using add-ons. They are just separate packages that use the same settings from the core of the framework.

    p Currently, there are two official add-ons: Concise UI and Concise Utils. The first one includes a series of UI components that can be used directly, as you would with frameworks like Bootstrap or Foundation. The second one contains single-responsibility classes, similar to frameworks like #[a(href='http://www.basscss.com/') BassCSS] or #[a(href='http://tachyons.io/') Tachyons].

    p You can check all the styles available in those add-ons in their respective pages: #[a(href='http://concisecss.com/documentation/ui) and [Concise Utils](http://concisecss.com/documentation/utils') Concise UI]

    h3 From the CDN

    p As with the core styles, you can include the styles from the add-ons directly using our CDN.

    pre: code.
      &lt;!-- CONCISE UI -->

      &lt;!-- Normal -->
      &lt;link rel="stylesheet" href="https://cdn.concisecss.com/ui/v1.0.0/concise-ui.css">

      &lt;!-- Minified -->
      &lt;link rel="stylesheet" href="https://cdn.concisecss.com/ui/v1.0.0/concise-ui.min.css">

    pre: code.
      &lt;!-- CONCISE UTILS -->

      &lt;!-- Normal -->
      &lt;link rel="stylesheet" href="https://cdn.concisecss.com/utils/v1.0.0/concise-utils.css">

      &lt;!-- Minified -->
      &lt;link rel="stylesheet" href="https://cdn.concisecss.com/utils/v1.0.0/concise-utils.min.css">

    h3 With NPM

    p You can also install the add-ons with NPM:

    pre: code.
      npm install concise-utils

    pre: code.
      npm install concise-ui

    p Then include them in your main file as the other styles:

    pre: code.
      @import "node_modules/concise-utils/concise-utils"

    pre: code.
      @import "node_modules/concise-utils/concise-ui"

    h3 Downloading the Packages

    p Those packages are also available to download from Github, using the following links: #[a(href='https://github.com/ConciseCSS/concise-ui/archive/master.zip') Download Concise UI] and #[a(href='https://github.com/ConciseCSS/concise-utils/archive/master.zip') Download Concise Utils]. Then you have to include the files in your project as you need them.

    h2 Coding Conventions

    p Concise CSS uses [a(href='http://rscss.io/') RSCSS], #[em a set of simple ideas to guide your process of building maintainable CSS]. Although that is not mandatory to follow those rules in your projects, you could get a more predictable code base by using it.

    p Is recommended to read those guidelines before working with Concise CSS to understand how this framework itself is organized and to help you to organize your projects.

    p Official website of RSCSS: #[a(href='http://rscss.io/') http://rscss.io/]
