extends ../_layout

block content
  header
    nav

    h1 Introduction

  main
    // Why Concise CSS

    h2 What’s included
    // Give an introduction of what the core of Concise CSS includes

    h2 Installation
    // NPM (Recommended)
    // CDN
    // Downloading the source files

    h2 Configuration
    // The settings available when using the Source Code

    h2 Using Add-ons
    // Introduce the idea of the add-ons both with the CDN, NPM and downloading the source files

    h2 Coding conventions
    // Mention that we are using RSCSS, and that’s the recommended convention when working with Concise CSS

    h2 Getting started
    // Show a sample project with NPM, which is the recommended way to use Concise CSS

