extends _layout

block content
  header
    nav

    h1 Concise Utils

  main
    // What is Concise Utils

    // Show examples of the following
    h2 Colors
    h2 Reverse blockquote
    h2 Buttons
    h2 Conditional styling
    h2 Forms
    h2 Headings
    h2 Text alignment
    h2 Floats
    h2 Fluid media
    h2 Screenreader content
    h2 Lists
    h2 Print
    h2 Tables
    h2 Type
    h2 Margins
    h2 Paddings
    h2 Type scale
    h2 Borders
    h2 Typography
