extends _layout

block content
  script(async src='https://production-assets.codepen.io/assets/embed/ei.js')

  h1 Concise UI

  p Concise UI is a very basic user interface kit for Concise CSS, meant to be extended with your own styles.

  h2#alert-box Alert box

  <p data-height="511" data-theme-id="18044" data-slug-hash="JbRKrX" data-default-tab="result" data-user="concisecss" data-embed-version="2" data-pen-title="Alerts - Concise UI" class="codepen">See the Pen <a href="http://codepen.io/concisecss/pen/JbRKrX/">Alerts - Concise UI</a> by ConciseCSS (<a href="http://codepen.io/concisecss">@concisecss</a>) on <a href="http://codepen.io">CodePen</a>.</p>

  h2#breadcrumb Breadcrumb

  <p data-height="142" data-theme-id="18044" data-slug-hash="ObRXwE" data-default-tab="result" data-user="concisecss" data-embed-version="2" data-pen-title="Breadcrumbs - Concise UI" class="codepen">See the Pen <a href="http://codepen.io/concisecss/pen/ObRXwE/">Breadcrumbs - Concise UI</a> by ConciseCSS (<a href="http://codepen.io/concisecss">@concisecss</a>) on <a href="http://codepen.io">CodePen</a>.</p>

  h2#button-group Button group

  <p data-height="116" data-theme-id="18044" data-slug-hash="MbjePg" data-default-tab="result" data-user="concisecss" data-embed-version="2" data-pen-title="Button Group - Concise UI" class="codepen">See the Pen <a href="http://codepen.io/concisecss/pen/MbjePg/">Button Group - Concise UI</a> by ConciseCSS (<a href="http://codepen.io/concisecss">@concisecss</a>) on <a href="http://codepen.io">CodePen</a>.</p>

  h2#button Button

  <p data-height="341" data-theme-id="18044" data-slug-hash="NbRrOe" data-default-tab="result" data-user="concisecss" data-embed-version="2" data-pen-title="Buttons - Concise UI" class="codepen">See the Pen <a href="http://codepen.io/concisecss/pen/NbRrOe/">Buttons - Concise UI</a> by ConciseCSS (<a href="http://codepen.io/concisecss">@concisecss</a>) on <a href="http://codepen.io">CodePen</a>.</p>

  h2#card Card

  <p data-height="665" data-theme-id="18044" data-slug-hash="MbjeLg" data-default-tab="result" data-user="concisecss" data-embed-version="2" data-pen-title="Cards - Concise UI" class="codepen">See the Pen <a href="http://codepen.io/concisecss/pen/MbjeLg/">Cards - Concise UI</a> by ConciseCSS (<a href="http://codepen.io/concisecss">@concisecss</a>) on <a href="http://codepen.io">CodePen</a>.</p>

  h2#dropdown Dropdown

  <p data-height="300" data-theme-id="18044" data-slug-hash="GNjqLd" data-default-tab="result" data-user="concisecss" data-embed-version="2" data-pen-title="Dropdowns - Concise UI" class="codepen">See the Pen <a href="http://codepen.io/concisecss/pen/GNjqLd/">Dropdowns - Concise UI</a> by ConciseCSS (<a href="http://codepen.io/concisecss">@concisecss</a>) on <a href="http://codepen.io">CodePen</a>.</p>

  h2#progress-bar Progress bar

  <p data-height="270" data-theme-id="18044" data-slug-hash="ZBpOdG" data-default-tab="result" data-user="concisecss" data-embed-version="2" data-pen-title="Progress bars - Concise UI" class="codepen">See the Pen <a href="http://codepen.io/concisecss/pen/ZBpOdG/">Progress bars - Concise UI</a> by ConciseCSS (<a href="http://codepen.io/concisecss">@concisecss</a>) on <a href="http://codepen.io">CodePen</a>.</p>

  h2#spinner Spinner

  <p data-height="150" data-theme-id="18044" data-slug-hash="aBmZeB" data-default-tab="result" data-user="concisecss" data-embed-version="2" data-pen-title="Spinner - Concise UI" class="codepen">See the Pen <a href="http://codepen.io/concisecss/pen/aBmZeB/">Spinner - Concise UI</a> by ConciseCSS (<a href="http://codepen.io/concisecss">@concisecss</a>) on <a href="http://codepen.io">CodePen</a>.</p>

  h2#tag Tag

  <p data-height="200" data-theme-id="18044" data-slug-hash="bBweXz" data-default-tab="result" data-user="concisecss" data-embed-version="2" data-pen-title="Tags - Concise UI" class="codepen">See the Pen <a href="http://codepen.io/concisecss/pen/bBweXz/">Tags - Concise UI</a> by ConciseCSS (<a href="http://codepen.io/concisecss">@concisecss</a>) on <a href="http://codepen.io">CodePen</a>.</p>
