extends _layout

block content
  header
    nav

    h1 Concise UI

  main
    // What is Concise UI

    // Show examples of the following
    h2 Alerts
    h2 Tags
    h2 Breadcrumbs
    h2 Buttons
    h2 Button groups
    h2 Cards
    h2 Media object
    h2 Collections
    h2 Dropdowns
    h2 Modals
    h2 Progress bars
    h2 Spinner
    h2 Tooltips
    h2 Navbars
    h2 Navs
    h2 Input group
