extends _layout

block content
  h1 Concise Utils

  p Concise Utils is one of the official add-ons for Concise CSS. It provides helper classes that you can use in your markup for fast prototyping or context-dependent styles.

  p Helper classes are prefixed with an underscore (#[code _]) to distinguish them from components or elements.

  h2#borders Borders

  p There are several classes available to delete or add borders to elements. Those classes begin with a #[code b], the initial letter of the side where the class works (optional) and the size of the border from #[code 0] to #[code 4].

  p Classes that work on all the sides are composed only of the letter #[code b] and the width, for example, #[code _b1].

  h3 Reset

  pre.language-markup: code.
    &lt;!-- Reset all the borders -->
    &lt;div class="_b0">…&lt;/div>

    &lt;!-- Reset top border -->
    &lt;div class="_bt0">…&lt;/div>

    &lt;!-- Reset right border -->
    &lt;div class="_br0">…&lt;/div>

    &lt;!-- Reset bottom border -->
    &lt;div class="_bb0">…&lt;/div>

    &lt;!-- Reset left border -->
    &lt;div class="_bl0">…&lt;/div>

  h3 1px border

  pre.language-markup: code.
    &lt;!-- All the borders -->
    &lt;div class="_b1">…&lt;/div>

    &lt;!-- Top border -->
    &lt;div class="_bt1">…&lt;/div>

    &lt;!-- Right border -->
    &lt;div class="_br1">…&lt;/div>

    &lt;!-- Bottom border -->
    &lt;div class="_bb1">…&lt;/div>

    &lt;!-- Left border -->
    &lt;div class="_bl1">…&lt;/div>

  h3 2px border

  pre.language-markup: code.
    &lt;!-- All the borders -->
    &lt;div class="_b2">…&lt;/div>

    &lt;!-- Top border -->
    &lt;div class="_bt2">…&lt;/div>

    &lt;!-- Right border -->
    &lt;div class="_br2">…&lt;/div>

    &lt;!-- Bottom border -->
    &lt;div class="_bb2">…&lt;/div>

    &lt;!-- Left border -->
    &lt;div class="_bl2">…&lt;/div>

  h3 3px border

  pre.language-markup: code.
    &lt;!-- All the borders -->
    &lt;div class="_b3">…&lt;/div>

    &lt;!-- Top border -->
    &lt;div class="_bt3">…&lt;/div>

    &lt;!-- Right border -->
    &lt;div class="_br3">…&lt;/div>

    &lt;!-- Bottom border -->
    &lt;div class="_bb3">…&lt;/div>

    &lt;!-- Left border -->
    &lt;div class="_bl3">…&lt;/div>

  h3 4px border

  pre.language-markup: code.
    &lt;!-- All the borders -->
    &lt;div class="_b4">…&lt;/div>

    &lt;!-- Top border -->
    &lt;div class="_bt4">…&lt;/div>

    &lt;!-- Right border -->
    &lt;div class="_br4">…&lt;/div>

    &lt;!-- Bottom border -->
    &lt;div class="_bb4">…&lt;/div>

    &lt;!-- Left border -->
    &lt;div class="_bl4">…&lt;/div>

  h2#colors Colors

  p All the colors in the color palette are available as classes to be used directly within your HTML.

  p The classes for text colors are prefixed with #[code _c-] and #[code _bg-] for backrounds.

  p The color follows the same schema in the $colors map. For example, you can use the color obtained with #[code getColor(base, primary)] in HTML as #[code _c-base-primary] for text or #[code _bg-base-primary] for backgrounds.

  h3 Text Colors

  pre.language-markup: code.
    &lt;!-- Equivalent to getColor(base, primary) -->
    &lt;div class="_c-base-primary">…&lt;/div>

    &lt;!-- Equivalent to getColor(base, selection) -->
    &lt;div class="_c-base-selection">…&lt;/div>

    &lt;!-- Equivalent to getColor(base, lines) -->
    &lt;div class="_c-base-lines">…&lt;/div>

    &lt;!-- Equivalent to getColor(text, primary) -->
    &lt;div class="_c-text-primary">…&lt;/div>

    &lt;!-- Equivalent to getColor(text, secondary) -->
    &lt;div class="_c-text-secondary">…&lt;/div>

    &lt;!-- Equivalent to getColor(text, heading) -->
    &lt;div class="_c-text-heading">…&lt;/div>

    &lt;!-- Equivalent to getColor(text, ui) -->
    &lt;div class="_c-text-ui">…&lt;/div>

    &lt;!-- Equivalent to getColor(background, dark) -->
    &lt;div class="_c-background-dark">…&lt;/div>

    &lt;!-- Equivalent to getColor(background, light) -->
    &lt;div class="_c-background-light">…&lt;/div>

    &lt;!-- Equivalent to getColor(background, body) -->
    &lt;div class="_c-background-body">…&lt;/div>

    &lt;!-- Equivalent to getColor(state, muted) -->
    &lt;div class="_c-state-muted">…&lt;/div>

    &lt;!-- Equivalent to getColor(state, primary) -->
    &lt;div class="_c-state-primary">…&lt;/div>

    &lt;!-- Equivalent to getColor(state, success) -->
    &lt;div class="_c-state-success">…&lt;/div>

    &lt;!-- Equivalent to getColor(state, warning) -->
    &lt;div class="_c-state-warning">…&lt;/div>

    &lt;!-- Equivalent to getColor(state, error) -->
    &lt;div class="_c-state-error">…&lt;/div>

    &lt;!-- Equivalent to getColor(blue, darker) -->
    &lt;div class="_c-blue-darker">…&lt;/div>

    &lt;!-- Equivalent to getColor(blue, dark) -->
    &lt;div class="_c-blue-dark">…&lt;/div>

    &lt;!-- Equivalent to getColor(blue, base) -->
    &lt;div class="_c-blue-base">…&lt;/div>

    &lt;!-- Equivalent to getColor(blue, light) -->
    &lt;div class="_c-blue-light">…&lt;/div>

    &lt;!-- Equivalent to getColor(blue, lighter) -->
    &lt;div class="_c-blue-lighter">…&lt;/div>

    &lt;!-- Equivalent to getColor(green, darker) -->
    &lt;div class="_c-green-darker">…&lt;/div>

    &lt;!-- Equivalent to getColor(green, dark) -->
    &lt;div class="_c-green-dark">…&lt;/div>

    &lt;!-- Equivalent to getColor(green, base) -->
    &lt;div class="_c-green-base">…&lt;/div>

    &lt;!-- Equivalent to getColor(green, light) -->
    &lt;div class="_c-green-light">…&lt;/div>

    &lt;!-- Equivalent to getColor(green, lighter) -->
    &lt;div class="_c-green-lighter">…&lt;/div>

    &lt;!-- Equivalent to getColor(red, darker) -->
    &lt;div class="_c-red-darker">…&lt;/div>

    &lt;!-- Equivalent to getColor(red, dark) -->
    &lt;div class="_c-red-dark">…&lt;/div>

    &lt;!-- Equivalent to getColor(red, base) -->
    &lt;div class="_c-red-base">…&lt;/div>

    &lt;!-- Equivalent to getColor(red, light) -->
    &lt;div class="_c-red-light">…&lt;/div>

    &lt;!-- Equivalent to getColor(red, lighter) -->
    &lt;div class="_c-red-lighter">…&lt;/div>

    &lt;!-- Equivalent to getColor(gray, darker) -->
    &lt;div class="_c-gray-darker">…&lt;/div>

    &lt;!-- Equivalent to getColor(gray, dark) -->
    &lt;div class="_c-gray-dark">…&lt;/div>

    &lt;!-- Equivalent to getColor(gray, base) -->
    &lt;div class="_c-gray-base">…&lt;/div>

    &lt;!-- Equivalent to getColor(gray, light) -->
    &lt;div class="_c-gray-light">…&lt;/div>

    &lt;!-- Equivalent to getColor(gray, lighter) -->
    &lt;div class="_c-gray-lighter">…&lt;/div>

  h3 Background Colors

  pre.language-markup: code.
    &lt;!-- Equivalent to getColor(base, primary) -->
    &lt;div class="_bg-base-primary">…&lt;/div>

    &lt;!-- Equivalent to getColor(base, selection) -->
    &lt;div class="_bg-base-selection">…&lt;/div>

    &lt;!-- Equivalent to getColor(base, lines) -->
    &lt;div class="_bg-base-lines">…&lt;/div>

    &lt;!-- Equivalent to getColor(text, primary) -->
    &lt;div class="_bg-text-primary">…&lt;/div>

    &lt;!-- Equivalent to getColor(text, secondary) -->
    &lt;div class="_bg-text-secondary">…&lt;/div>

    &lt;!-- Equivalent to getColor(text, heading) -->
    &lt;div class="_bg-text-heading">…&lt;/div>

    &lt;!-- Equivalent to getColor(text, ui) -->
    &lt;div class="_bg-text-ui">…&lt;/div>

    &lt;!-- Equivalent to getColor(background, dark) -->
    &lt;div class="_bg-background-dark">…&lt;/div>

    &lt;!-- Equivalent to getColor(background, light) -->
    &lt;div class="_bg-background-light">…&lt;/div>

    &lt;!-- Equivalent to getColor(background, body) -->
    &lt;div class="_bg-background-body">…&lt;/div>

    &lt;!-- Equivalent to getColor(state, muted) -->
    &lt;div class="_bg-state-muted">…&lt;/div>

    &lt;!-- Equivalent to getColor(state, primary) -->
    &lt;div class="_bg-state-primary">…&lt;/div>

    &lt;!-- Equivalent to getColor(state, success) -->
    &lt;div class="_bg-state-success">…&lt;/div>

    &lt;!-- Equivalent to getColor(state, warning) -->
    &lt;div class="_bg-state-warning">…&lt;/div>

    &lt;!-- Equivalent to getColor(state, error) -->
    &lt;div class="_bg-state-error">…&lt;/div>

    &lt;!-- Equivalent to getColor(blue, darker) -->
    &lt;div class="_bg-blue-darker">…&lt;/div>

    &lt;!-- Equivalent to getColor(blue, dark) -->
    &lt;div class="_bg-blue-dark">…&lt;/div>

    &lt;!-- Equivalent to getColor(blue, base) -->
    &lt;div class="_bg-blue-base">…&lt;/div>

    &lt;!-- Equivalent to getColor(blue, light) -->
    &lt;div class="_bg-blue-light">…&lt;/div>

    &lt;!-- Equivalent to getColor(blue, lighter) -->
    &lt;div class="_bg-blue-lighter">…&lt;/div>

    &lt;!-- Equivalent to getColor(green, darker) -->
    &lt;div class="_bg-green-darker">…&lt;/div>

    &lt;!-- Equivalent to getColor(green, dark) -->
    &lt;div class="_bg-green-dark">…&lt;/div>

    &lt;!-- Equivalent to getColor(green, base) -->
    &lt;div class="_bg-green-base">…&lt;/div>

    &lt;!-- Equivalent to getColor(green, light) -->
    &lt;div class="_bg-green-light">…&lt;/div>

    &lt;!-- Equivalent to getColor(green, lighter) -->
    &lt;div class="_bg-green-lighter">…&lt;/div>

    &lt;!-- Equivalent to getColor(red, darker) -->
    &lt;div class="_bg-red-darker">…&lt;/div>

    &lt;!-- Equivalent to getColor(red, dark) -->
    &lt;div class="_bg-red-dark">…&lt;/div>

    &lt;!-- Equivalent to getColor(red, base) -->
    &lt;div class="_bg-red-base">…&lt;/div>

    &lt;!-- Equivalent to getColor(red, light) -->
    &lt;div class="_bg-red-light">…&lt;/div>

    &lt;!-- Equivalent to getColor(red, lighter) -->
    &lt;div class="_bg-red-lighter">…&lt;/div>

    &lt;!-- Equivalent to getColor(gray, darker) -->
    &lt;div class="_bg-gray-darker">…&lt;/div>

    &lt;!-- Equivalent to getColor(gray, dark) -->
    &lt;div class="_bg-gray-dark">…&lt;/div>

    &lt;!-- Equivalent to getColor(gray, base) -->
    &lt;div class="_bg-gray-base">…&lt;/div>

    &lt;!-- Equivalent to getColor(gray, light) -->
    &lt;div class="_bg-gray-light">…&lt;/div>

    &lt;!-- Equivalent to getColor(gray, lighter) -->
    &lt;div class="_bg-gray-lighter">…&lt;/div>

  h2#columns Columns

  p Is possible to split the content into several columns, up to 12 by default, using the column utilities.

  p Those classes use the #[a(href='https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Columns/Using_multi-column_layoutsare different') Multicolumn layout], so they are distinct from the grid included in the core of Concise CSS.

  p Also, there is a class to build masonry-type layouts with pure CSS quickly.

  h3 Columns

  pre.language-markup: code.
    &lt;div class="_cols-1">…&lt;/div>
    &lt;div class="_cols-2">…&lt;/div>
    …
    &lt;div class="_cols-11">…&lt;/div>
    &lt;div class="_cols-12">…&lt;/div>

  h3 Gap between columns

  p You can set the space between the columns, by default it will have the value of the #[code $gutter] variable.

  pre.language-markup: code.
    &lt;div class="_col-gap">…&lt;/div>

  h3 Masonry layout

  pre.language-markup: code.
    &lt;div class="_masonry">…&lt;/div>

  h2#hide-show Hide/Show

  p You can hide or show elements depending on certain key points, like the device size, resolution, or media (printing or screen).

  h3 Show elements

  pre.language-markup: code.
    &lt;!-- Show only on extra small devices -->
    &lt;div class="_show-xs">…&lt;/div>

    &lt;!-- Show only on small devices -->
    &lt;div class="_show-s">…&lt;/div>

    &lt;!-- Show only on medium devices -->
    &lt;div class="_show-m">…&lt;/div>

    &lt;!-- Show only on large devices -->
    &lt;div class="_show-l">…&lt;/div>

    &lt;!-- Show only on extra large devices -->
    &lt;div class="_show-xl">…&lt;/div>

    &lt;!-- Show only on print -->
    &lt;div class="_show-print">…&lt;/div>

    &lt;!-- Show only on high density (retina) devices -->
    &lt;div class="_show-hd">…&lt;/div>

  h3 Hide elements

  pre.language-markup: code.
    &lt;!-- Hide only on extra small devices -->
    &lt;div class="_hide-xs">…&lt;/div>

    &lt;!-- Hide only on small devices -->
    &lt;div class="_hide-s">…&lt;/div>

    &lt;!-- Hide only on medium devices -->
    &lt;div class="_hide-m">…&lt;/div>

    &lt;!-- Hide only on large devices -->
    &lt;div class="_hide-l">…&lt;/div>

    &lt;!-- Hide only on extra large devices -->
    &lt;div class="_hide-xl">…&lt;/div>

    &lt;!-- Hide only on print -->
    &lt;div class="_hide-print">…&lt;/div>

    &lt;!-- Hide only on high density (retina) devices -->
    &lt;div class="_hide-hd">…&lt;/div>

  h2#display Display

  p The #[code display] properties are also exposed via HTML classes so you can use them in your markup quickly.

  pre.language-markup: code.
    &lt;!-- Equivalent to display: inline-block -->
    &lt;div class="_inline-block">…&lt;/div>

    &lt;!-- Equivalent to display: block -->
    &lt;div class="_block">…&lt;/div>

    &lt;!-- Equivalent to display: inline -->
    &lt;div class="_inline">…&lt;/div>

    &lt;!-- Equivalent to display: flex -->
    &lt;div class="_flex">…&lt;/div>

  h2#margins Margins

  p As with the borders, you have predefined classes to reset or add margins. They will use the value in the spacing variables defined in the #[a(href='http://concisecss.com/documentation/core#settings') settings file].

  p These variables can be especially useful to keep your CSS clean, by adding margins in your markup depending of the context without having to create extra styles, or a component/element variant.

  h3 Reset margins

  pre.language-markup: code.
    &lt;!-- Reset all margins -->
    &lt;div class="_m0">…&lt;/div>

    &lt;!-- Reset top margin -->
    &lt;div class="_mt0">…&lt;/div>

    &lt;!-- Reset right margin -->
    &lt;div class="_mr0">…&lt;/div>

    &lt;!-- Reset bottom margin -->
    &lt;div class="_mb0">…&lt;/div>

    &lt;!-- Reset left margin -->
    &lt;div class="_ml0">…&lt;/div>

  h3 Margins on all sides

  pre.language-markup: code.
    &lt;!-- Extra small margin on all sides -->
    &lt;div class="_mxs">…&lt;/div>

    &lt;!-- Small margin on all sides -->
    &lt;div class="_ms">…&lt;/div>

    &lt;!-- Medium margin on all sides -->
    &lt;div class="_mm">…&lt;/div>

    &lt;!-- Large margin on all sides -->
    &lt;div class="_ml">…&lt;/div>

    &lt;!-- Extra large margin on all sides -->
    &lt;div class="_mxl">…&lt;/div>

  h3 Extra small margins

  pre.language-markup: code.
    &lt;!-- Extra small top margin -->
    &lt;div class="_mtxs">…&lt;/div>

    &lt;!-- Extra small right margin -->
    &lt;div class="_mrxs">…&lt;/div>

    &lt;!-- Extra small bottom margin -->
    &lt;div class="_mbxs">…&lt;/div>

    &lt;!-- Extra small left margin -->
    &lt;div class="_mlxs">…&lt;/div>

  h3 Small margins

  pre.language-markup: code.
    &lt;!-- Small top margin -->
    &lt;div class="_mts">…&lt;/div>

    &lt;!-- Small right margin -->
    &lt;div class="_mrs">…&lt;/div>

    &lt;!-- Small bottom margin -->
    &lt;div class="_mbs">…&lt;/div>

    &lt;!-- Small left margin -->
    &lt;div class="_mls">…&lt;/div>

  h3 Medium margins

  pre.language-markup: code.
    &lt;!-- Medium top margin -->
    &lt;div class="_mtm">…&lt;/div>

    &lt;!-- Medium right margin -->
    &lt;div class="_mrm">…&lt;/div>

    &lt;!-- Medium bottom margin -->
    &lt;div class="_mbm">…&lt;/div>

    &lt;!-- Medium left margin -->
    &lt;div class="_mlm">…&lt;/div>

  h3 Large margins

  pre.language-markup: code.
    &lt;!-- Large top margin -->
    &lt;div class="_mtl">…&lt;/div>

    &lt;!-- Large right margin -->
    &lt;div class="_mrl">…&lt;/div>

    &lt;!-- Large bottom margin -->
    &lt;div class="_mbl">…&lt;/div>

    &lt;!-- Large left margin -->
    &lt;div class="_mll">…&lt;/div>

  h3 Extra large margins

  pre.language-markup: code.
    &lt;!-- Extra large top margin -->
    &lt;div class="_mtxl">…&lt;/div>

    &lt;!-- Extra large right margin -->
    &lt;div class="_mrxl">…&lt;/div>

    &lt;!-- Extra large bottom margin -->
    &lt;div class="_mbxl">…&lt;/div>

    &lt;!-- Extra large left margin -->
    &lt;div class="_mlxl">…&lt;/div>

  h2#paddings Paddings

  p The same classes used for margins are also available for paddings with a slightly different syntax, a #[code p] instead of an #[code m].

  h3 Reset paddings

  pre.language-markup: code.
    &lt;!-- Reset all paddings -->
    &lt;div class="_p0">…&lt;/div>

    &lt;!-- Reset top padding -->
    &lt;div class="_pt0">…&lt;/div>

    &lt;!-- Reset right padding -->
    &lt;div class="_pr0">…&lt;/div>

    &lt;!-- Reset bottom padding -->
    &lt;div class="_pb0">…&lt;/div>

    &lt;!-- Reset left padding -->
    &lt;div class="_pl0">…&lt;/div>

  h3 Paddings on all sides

  pre.language-markup: code.
    &lt;!-- Extra small padding on all sides -->
    &lt;div class="_pxs">…&lt;/div>

    &lt;!-- Small padding on all sides -->
    &lt;div class="_ps">…&lt;/div>

    &lt;!-- Medium padding on all sides -->
    &lt;div class="_pm">…&lt;/div>

    &lt;!-- Large padding on all sides -->
    &lt;div class="_pl">…&lt;/div>

    &lt;!-- Extra large padding on all sides -->
    &lt;div class="_pxl">…&lt;/div>

  h3 Extra small paddings

  pre.language-markup: code.
    &lt;!-- Extra small top padding -->
    &lt;div class="_ptxs">…&lt;/div>

    &lt;!-- Extra small right padding -->
    &lt;div class="_prxs">…&lt;/div>

    &lt;!-- Extra small bottom padding -->
    &lt;div class="_pbxs">…&lt;/div>

    &lt;!-- Extra small left padding -->
    &lt;div class="_plxs">…&lt;/div>

  h3 Small paddings

  pre.language-markup: code.
    &lt;!-- Small top padding -->
    &lt;div class="_pts">…&lt;/div>

    &lt;!-- Small right padding -->
    &lt;div class="_prs">…&lt;/div>

    &lt;!-- Small bottom padding -->
    &lt;div class="_pbs">…&lt;/div>

    &lt;!-- Small left padding -->
    &lt;div class="_pls">…&lt;/div>

  h3 Medium paddings

  pre.language-markup: code.
    &lt;!-- Medium top padding -->
    &lt;div class="_ptm">…&lt;/div>

    &lt;!-- Medium right padding -->
    &lt;div class="_prm">…&lt;/div>

    &lt;!-- Medium bottom padding -->
    &lt;div class="_pbm">…&lt;/div>

    &lt;!-- Medium left padding -->
    &lt;div class="_plm">…&lt;/div>

  h3 Large paddings

  pre.language-markup: code.
    &lt;!-- Large top padding -->
    &lt;div class="_ptl">…&lt;/div>

    &lt;!-- Large right padding -->
    &lt;div class="_prl">…&lt;/div>

    &lt;!-- Large bottom padding -->
    &lt;div class="_pbl">…&lt;/div>

    &lt;!-- Large left padding -->
    &lt;div class="_pll">…&lt;/div>

  h3 Extra large paddings

  pre.language-markup: code.
    &lt;!-- Extra large top padding -->
    &lt;div class="_ptxl">…&lt;/div>

    &lt;!-- Extra large right padding -->
    &lt;div class="_prxl">…&lt;/div>

    &lt;!-- Extra large bottom padding -->
    &lt;div class="_pbxl">…&lt;/div>

    &lt;!-- Extra large left padding -->
    &lt;div class="_plxl">…&lt;/div>

  h2#position Position

  p Concise Utils also exposes all the values of the #[code position] property so you can use them directly in your HTML.

  pre.language-markup: code.
    &lt;!-- Equivalent to position: absolute -->
    &lt;div class="_abs">…&lt;/div>

    &lt;!-- Equivalent to position: relative -->
    &lt;div class="_rel">…&lt;/div>

    &lt;!-- Equivalent to position: static -->
    &lt;div class="_sta">…&lt;/div>

    &lt;!-- Equivalent to position: fixed -->
    &lt;div class="_fix">…&lt;/div>

  h2#type-scale Type Scale

  p The first ten sizes in the primary type scale are available to use in HTML; those are built using the #[code typeScale()] function and are updated depending on your settings.

  pre.language-markup: code.
    &lt;!-- Equivalent to typeScale(1) -->
    &lt;div class="_ts1">…&lt;/div>

    &lt;!-- Equivalent to typeScale(2) -->
    &lt;div class="_ts2">…&lt;/div>

    &lt;!-- Equivalent to typeScale(3) -->
    &lt;div class="_ts3">…&lt;/div>

    &lt;!-- Equivalent to typeScale(4) -->
    &lt;div class="_ts4">…&lt;/div>

    &lt;!-- Equivalent to typeScale(5) -->
    &lt;div class="_ts5">…&lt;/div>

    &lt;!-- Equivalent to typeScale(6) -->
    &lt;div class="_ts6">…&lt;/div>

    &lt;!-- Equivalent to typeScale(7) -->
    &lt;div class="_ts7">…&lt;/div>

    &lt;!-- Equivalent to typeScale(8) -->
    &lt;div class="_ts8">…&lt;/div>

    &lt;!-- Equivalent to typeScale(9) -->
    &lt;div class="_ts9">…&lt;/div>

    &lt;!-- Equivalent to typeScale(10) -->
    &lt;div class="_ts10">…&lt;/div>

  h2#typography Typography

  p Lastly, Concise Utils offers a variety of helper classes for typography that you can use when prototyping your website or to add styles depending on the context.

  pre.language-markup: code.
    &lt;!-- Equivalent to font-weight: bold -->
    &lt;div class="_bold">…&lt;/div>

    &lt;!-- Equivalent to text-transform: uppercase -->
    &lt;div class="_caps">…&lt;/div>

    &lt;!-- Equivalent to font-size: inherit -->
    &lt;div class="_font-size-inherit">…&lt;/div>

    &lt;!-- Equivalent to font-style: italic -->
    &lt;div class="_italic">…&lt;/div>

    &lt;!-- Equivalent to text-decoration: none -->
    &lt;div class="_no-decoration">…&lt;/div>

    &lt;!-- Equivalent to font-weight: normal -->
    &lt;div class="_regular">…&lt;/div>

    &lt;!-- Equivalent to font-feature-settings: "smcp" 1, "c2sc" 1 -->
    &lt;div class="_small-caps">…&lt;/div>

    &lt;!-- Equivalent to text-align: center -->
    &lt;div class="_text-center">…&lt;/div>

    &lt;!-- Equivalent to text-align: left -->
    &lt;div class="_text-left">…&lt;/div>

    &lt;!-- Equivalent to text-align: right -->
    &lt;div class="_text-right">…&lt;/div>

    &lt;!-- Equivalent to text-decoration: underline -->
    &lt;div class="_underline">…&lt;/div>

    &lt;!-- Equivalent to letter-spacing: $letter-spacing -->
    &lt;div class="_letter-spacing">…&lt;/div>

  h3 Font families

  pre.language-markup: code.
    &lt;!-- Equivalent to font-family: inherit -->
    &lt;div class="_font-family-inherit">…&lt;/div>

    &lt;!-- Equivalent to font-family: $font-primary -->
    &lt;div class="_font-primary">…&lt;/div>

    &lt;!-- Equivalent to font-family: $font-secondary -->
    &lt;div class="_font-secondary">…&lt;/div>

    &lt;!-- Equivalent to font-family: $font-mono -->
    &lt;div class="_font-mono">…&lt;/div>

    &lt;!-- Equivalent to font-family: $font-print-primary -->
    &lt;div class="_font-print">…&lt;/div>

    &lt;!-- Equivalent to font-family: $font-print-secondary -->
    &lt;div class="_font-print-secondary">…&lt;/div>
