//
// 404 Section
// =============================================================================

.error-404 {
  h1 {
    margin-bottom: unitSize(3);
    margin-top: 0;

    small {
      display: block;
      font-size: 40%;
      line-height: 1.25;
    }
  }
}
