//
// Docs section
// =============================================================================

.docs {
  h1 {
    letter-spacing: 0.05em;
    margin-bottom: unitSize(6);
    margin-top: unitSize(6);
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $bp-medium) {
      margin-bottom: unitSize(9);
    }

    &::after { content: none }

    span:first-of-type {
      color: getColor(base, primary);
      margin-right: 0.5em;
    }
  }

  h3 { margin-top: unitSize(5);}

  h4 {
    margin-top: unitSize(3);
    margin-bottom: unitSize(2);
  }
}