//
// Main footer
// =============================================================================

.main-footer {
  @include clearfix();

  font-family: $font-family-headings;
  font-size: pxToEm(12);
  margin-top: unitSize(9);
  padding: unitSize(3) 0;
  text-align: center;
  text-transform: uppercase;

  a {
    color: getColor(text, primary);
    font-weight: bold;
    letter-spacing: 1px;

    &:hover,
    &:focus { color: getColor(base, primary); }
  }

  p {
    color: getColor(text, secondary);
    margin-bottom: 0;

    @media (min-width: $bp-medium) {
      float: left;
    }
  }

  ul {
    margin-bottom: 0;
    margin-top: unitSize(1);
    padding: 0;

    @media (min-width: $bp-medium) {
      float: right;
      margin-top: 0;
    }
  }

  li {
    display: block;
    padding: 0;
    line-height: 2;

    @media (min-width: $bp-medium) {
      display: inline-block;
      line-height: inherit;

      &:not(:last-of-type) { margin-right: 2em; }
    }
  }
}