//
// Main header
// =============================================================================

.homePage .mainHeader { min-height: 100vh; }

.mainHeader {
  font-family: $font-family-headings;
  padding-top: unitSize(2);
  position: relative;

  .logo {
    float: left;
    height: unitSize(6);

    @media (min-width: $bp-small) { height: unitSize(9); }
  }
}

.mainHeader-intro {
  margin-top: $spacing-xl;
  text-align: center;

  @media (min-width: $bp-small) {
    bottom: 10%;
    margin-top: 0;
    position: absolute;
    text-align: right;
  }

  h1 {
    border-bottom: 0;
    font-size: pxToEm($h2-size);
    font-weight: normal;
    letter-spacing: normal;
    margin: 0;
    text-align: inherit;
    text-transform: none;

    @media (min-width: $bp-medium) {
      font-size: pxToEm($h2-size);
    }

    &::after { content: none; }
  }

  p { margin-bottom: 0; }
}

.version {
  margin-top: $spacing-xs;
  color: getColor(text, secondary);
}

.mainHeader-buttons {
  margin-top: $spacing-xl;
}

.mainHeader-buttons span {
  color: getColor(text, secondary);
  font-weight: bold;
  margin-left: .5em;
  vertical-align: baseline;
}

.mainHeader-ad {
  color: getColor(text, secondary);
  font-size: pxToEm(16);
  font-weight: bold;
  margin-bottom: 0;
  margin-top: $spacing-xl;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $bp-small) {
    max-width: 315px;
  }

  @media (min-width: $bp-medium) {
    bottom: 10%;
    text-align: left;
  }

  @media (min-width: $bp-small) and (min-height: $bp-extra-small) {
    bottom: unitSize(2);
    margin-top: 0;
    position: absolute;
    left: pxToEm($gutter/2);
    right: pxToEm($gutter/2);
  }

  strong { color: getColor(text, primary); }
}