//
// Navigation button
// =============================================================================

.nav-button {
  height: unitSize(5);
  position: fixed;
  top: unitSize(1);
  right: unitSize(1);
  overflow: hidden;
  text-indent: 100%;
  transition: transform 0.5s, background-color $transition-duration;
  white-space: nowrap;
  width: unitSize(5);
  z-index: 3;

  @media (min-width: $bp-small) {
    top: unitSize(2);
    right: unitSize(2);
  }

  &:focus { outline: 0; }

  &:focus,
  &:hover {
    .nav-icon {
      background-color: getColor(base, primary);
    }
  }

  // Burger menu icon
  .nav-icon {
    background-color: getColor(text, primary);
    bottom: auto;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 0.5s;
    width: 22px;

    &::before,
    &::after {
      backface-visibility: hidden;
      background-color: inherit;
      content: '';
      height: 100%;
      right: 0;
      position: absolute;
      top: 0;
      transform: translateZ(0);
      transition: transform 0.5s, width 0.5s, top 0.3s;
      width: 100%;
    }

    &::before { transform: translateY(-6px); }

    &::after { transform: translateY(6px); }
  }
}