//
// Note block
// =============================================================================

.note {
  border-top: 1px dashed getColor(base, lines);
  border-bottom: 1px dashed getColor(base, lines);
  font-size: pxToEm(16);
  margin-top: unitSize(3);
  padding: unitSize(1, 4) 0 unitSize(2);

  &:before {
    color: getColor(base, primary);
    content: "Note:";
    font-weight: bold;
    margin-right: .25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: $font-family-headings;
  }

  small { font-size: 85%; }
}