//
// Sidebar navigation
// =============================================================================

.nav {
  font-family: $font-family-headings;
  font-size: pxToEm(16);
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transition: visibility 0s 0.7s;
  visibility: hidden;
  width: 20em;
  z-index: 2;

  .logo {
    height: unitSize(9);
    display: inline-block;
    margin-bottom: unitSize(6);
    width: 100%;
    text-align: center;
  }

  a {
    color: getColor(text, secondary);
    letter-spacing: .75px;
    text-transform: uppercase;

    &.active,
    &:hover,
    &:focus { color: white; }

    &.active { font-weight: bold; }
  }

  li { list-style: none; }

  ul {
    padding-left: 0;
    margin-bottom: $spacing-s;

    &:last-of-type { margin-bottom: unitSize(6); }
  }

  h2 {
    color: white;
    margin-bottom: unitSize(2);
    margin-top: 0;
    font-size: pxToEm($h3-size);
  }

  .nav-wrapper {
    background-color: getColor(background, dark);
    height: 100%;
    overflow-y: auto;
    padding: unitSize(6) pxToEm($gutter);
    transform: translate(100%, 0);
    transition: transform 0.7s;
  }
}

// When the navigation is open
.nav--open {

  // Make the navigation visible
  .nav {
    transition: visibility 0s 0s;
    visibility: visible;

    // Move the navigation
    .nav-wrapper {
      transform: translateX(0);
      transition: transform 0.5s;
    }
  }

  .nav-button {
    &:focus,
    &:hover {
      .nav-icon {
        background-color: transparent;
      }
    }
  }

  // Animate icon
  .nav-icon {
    background-color: transparent;

    &::after,
    &::before {
      transition: transform 0.5s;
      background-color: getColor(base, primary);
    }

    &::before { transform: rotate(45deg); }

    &::after { transform: rotate(-45deg); }
  }
}