//
// Color palette
// =============================================================================


.colorPalette-third { @include column(1/3); }
.colorPalette-fourth { @include column(1/4); }

.colorPalette-fifth { @include column(1/5); }

// Base colors
.colorPalette-basePrimary { background-color: getColor(base, primary); }

.colorPalette-baseSelection { background-color: getColor(base, selection); }

.colorPalette-baseLines { background-color: getColor(base, lines); }

// Text colors
.colorPalette-textPrimary { background-color: getColor(text, primary); }

.colorPalette-textSecondary { background-color: getColor(text, secondary); }

.colorPalette-textHeading { background-color: getColor(text, heading); }

.colorPalette-textUI {
  background-color: getColor(text, ui);
  border: 1px solid getColor(base, lines);

  span { color: getColor(text, secondary); }
}

// Background colors
.colorPalette-backgroundDark { background-color: getColor(background, dark); }

.colorPalette-backgroundLight {
  background-color: getColor(background, light);
  border: 1px solid getColor(base, lines);
}

.colorPalette-backgroundBody {
  background-color: getColor(background, body);
  border: 1px solid getColor(base, lines);
}

// State colors
.colorPalette-stateMuted { background-color: getColor(state, muted); }

.colorPalette-statePrimary { background-color: getColor(state, primary); }

.colorPalette-stateSuccess { background-color: getColor(state, success); }

.colorPalette-stateWarning { background-color: getColor(state, warning); }

.colorPalette-stateError { background-color: getColor(state, error); }

// Blue colors
.colorPalette-blueDarker { background-color: getColor(blue, darker); }

.colorPalette-blueDark { background-color: getColor(blue, dark); }

.colorPalette-blue { background-color: getColor(blue); }

.colorPalette-blueLight { background-color: getColor(blue, light); }

.colorPalette-blueLighter { background-color: getColor(blue, lighter); }

// Green colors
.colorPalette-greenDarker { background-color: getColor(green, darker); }

.colorPalette-greenDark { background-color: getColor(green, dark); }

.colorPalette-green { background-color: getColor(green); }

.colorPalette-greenLight { background-color: getColor(green, light); }

.colorPalette-greenLighter { background-color: getColor(green, lighter); }

// Cream colors
.colorPalette-creamDarker { background-color: getColor(cream, darker); }

.colorPalette-creamDark { background-color: getColor(cream, dark); }

.colorPalette-cream { background-color: getColor(cream); }

.colorPalette-creamLight { background-color: getColor(cream, light); }

.colorPalette-creamLighter { background-color: getColor(cream, lighter); }

// Red colors
.colorPalette-redDarker { background-color: getColor(red, darker); }

.colorPalette-redDark { background-color: getColor(red, dark); }

.colorPalette-red { background-color: getColor(red); }

.colorPalette-redLight { background-color: getColor(red, light); }

.colorPalette-redLighter { background-color: getColor(red, lighter); }

// Gray colors
.colorPalette-grayDarker { background-color: getColor(gray, darker); }

.colorPalette-grayDark { background-color: getColor(gray, dark); }

.colorPalette-gray { background-color: getColor(gray); }

.colorPalette-grayLight { background-color: getColor(gray, light); }

.colorPalette-grayLighter { background-color: getColor(gray, lighter); }