footer.main-footer
  p.
    Sponsored by #[a(href='https://www.keycdn.com/') KeyCDN]
    #[br]
    &copy; #[script document.write(new Date().getFullYear());]
    #[a(href='https://jameskolce.com') James Kolce], 
    #[a(href='http://keenanpayne.com') Keenan Payne] & 
    #[a(href='https://github.com/ConciseCSS/concise.css/graphs/contributors') Concise CSS Contributors].