nav.index-nav
  a(href='/').logo
    img(src='/images/logo.svg' title="Go Home")
  ol
    li
      a(href='/documentation/') Introduction
      ol
        li: a(href='/documentation/#why') Why Concise CSS
        li: a(href='/documentation/#language-additions') Language additions
        li: a(href='/documentation/#installation') Installation
        li: a(href='/documentation/#concise-cli') The Concise CLI
        li: a(href='/documentation/#add-ons') Using add-ons
        li: a(href='/documentation/#coding-conventions') Coding conventions
        li: a(href='/documentation/#examples') Examples
    li
      a(href='/documentation/core') Core
      ol
        li: a(href='/documentation/core#settings') Settings
        li: a(href='/documentation/core#typography') Typography
        li: a(href='/documentation/core#grid-system') Grid System
        li: a(href='/documentation/core#color-palette') Color Palette
        li: a(href='/documentation/core#print') Print
    li
      a(href='/documentation/utils') Utils
      ol
        li: a(href='/documentation/utils#borders') Borders
        li: a(href='/documentation/utils#colors') Colors
        li: a(href='/documentation/utils#columns') Columns
        li: a(href='/documentation/utils#hide-show') Hide/Show
        li: a(href='/documentation/utils#display') Display
        li: a(href='/documentation/utils#margins') Margins
        li: a(href='/documentation/utils#paddings') Paddings
        li: a(href='/documentation/utils#position') Position
        li: a(href='/documentation/utils#type-scale') Type scale
        li: a(href='/documentation/utils#typography') Typography

    li
      a(href='/documentation/ui') UI
      ol
        li: a(href='/documentation/ui#alert-box') Alert box
        li: a(href='/documentation/ui#breadcrumb') Breadcrumb
        li: a(href='/documentation/ui#button-group') Button group
        li: a(href='/documentation/ui#button') Button
        li: a(href='/documentation/ui#card') Card
        li: a(href='/documentation/ui#dropdown') Dropdown
        li: a(href='/documentation/ui#progress-bar') Progress bar
        li: a(href='/documentation/ui#spinner') Spinner
        li: a(href='/documentation/ui#tag') Tag