@if $use-tables == true {
  //------------------------------------
  //  TABLES
  //------------------------------------

  @if $use-table-styles == true {
    table {
      &.table {
        border: 1px solid lighten($object-ui-color, 10%);
        empty-cells: show;
        width: 100%;

        caption {
          color: #000;
          font: italic 85%/1 arial, sans-serif;
          padding: 1em 0;
          text-align: center;
        }

        thead {
          background-color: #f3f3f3;
          border-bottom: 1px solid lighten($object-ui-color, 10%);
          text-align: left;
        }

        th,
        td { padding: 12px 15px; }

        td { border-top: 1px solid lighten($object-ui-color, 10%); }

        @include breakpoint(extra-small) {
          & {
            th,
            td { padding: 10px 50px 10px 25px; }
          }
        }

        &.table-full,
        &.table.table-full { width: 100%; }
      }
    }
  }


  // Responsive tables
  .table-responsive {
    overflow: auto;
    width: 100%;

    table { margin-bottom: 0; }

    &::-webkit-scrollbar {
      height: 14px;
      width: 14px;

      -webkit-appearance: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(50, 50, 50, 0.2);
      border: 3px solid #fff;
      border-radius: 8px;
    }
  }
}
