// Button styles
.btn {
  .btn-rounded { border-radius: 4px; }

  .btn-pill { border-radius: 25px; }
}


// Bordered buttons
.btn {
  &.bg-white { color: #333; }


  // Bordered
  &.btn-border {
    background: transparent;
    border-color: $object-ui-color;
    border-style: solid;
    border-width: 1px;
    color: #aaa;

    &:hover {
      background: $object-ui-color;
      color: #fff !important;
    }


    // Bordered white
    &.white {
      border-color: map-get($bg-colors, white);
      color: map-get($type-colors, white);

      &:hover {
        background: map-get($bg-colors, white);
        color: map-get($type-colors, black) !important;
      }

      &:active,
      &:focus { background-color: $object-ui-color; }
    }


    // Bordered black
    &.black {
      border-color: map-get($bg-colors, black);
      color: map-get($type-colors, black);

      &:hover { background-color: map-get($bg-colors, black); }

      &:active,
      &:focus { background-color: map-get($bg-colors, black); }
    }


    // Bordered gray
    &.gray {
      border-color: map-get($bg-colors, gray);
      color: map-get($type-colors, gray);

      &:hover { background-color: map-get($bg-colors, gray); }

      &:active,
      &:focus { background-color: darken(map-get($bg-colors, gray), 15%); }
    }


    // Bordered green
    &.green {
      border-color: map-get($bg-colors, green);
      color: map-get($type-colors, green);

      &:hover { background-color: map-get($bg-colors, green); }

      &:active,
      &:focus { background-color: darken(map-get($bg-colors, green), 15%); }
    }


    // Bordered blue
    &.blue {
      border-color: map-get($bg-colors, blue);
      color: map-get($type-colors, blue);

      &:hover { background-color: map-get($bg-colors, blue); }

      &:active,
      &:focus { background-color: darken(map-get($bg-colors, blue), 15%); }
    }


    // Bordered yellow
    &.yellow {
      border-color: map-get($bg-colors, yellow);
      color: map-get($type-colors, yellow);

      &:hover { background-color: map-get($bg-colors, yellow); }

      &:active,
      &:focus { background-color: darken(map-get($bg-colors, yellow), 15%); }
    }


    // Bordered red
    &.red {
      border-color: map-get($bg-colors, red);
      color: map-get($type-colors, red);

      &:hover { background-color: map-get($bg-colors, red); }

      &:active,
      &:focus { background-color: darken(map-get($bg-colors, red), 15%); }
    }
  }
}
