//
// Base styles
// =============================================================================

html {
  min-height: 100vh;
}

body {
  line-height: 1.6;
  border: pxToEm($gutter / 5) solid white;
  transition: border $transition-duration;

  @media (min-width: $bp-small) {
    border-width: 1em
  }
}


//
// Typography
// ----------

h2 {
  letter-spacing: 0.05em;
  margin-bottom: unitSize(3);
  margin-top: unitSize(9);
  padding-bottom: unitSize(2);
  position: relative;
  text-transform: uppercase;

  &::after {
    background-color: getColor(base, primary);
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    width: 75px;
  }
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1em;
  margin-bottom: 0.3em;
}

pre { font-size: pxToEm(18); }

table {
  td,
  th {
    line-height: inherit;
    padding-bottom: unitSize(2);
    padding-top: unitSize(2);
  }

  th {
    font-family: $font-family-headings;
    font-size: pxToEm(16);
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
  }

  td { font-size: pxToEm(18); }
}