doctype
html(lang='en').docs-root
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Documentation - Concise Framework
    meta(name='description' content='Concise is a lightweight front-end framework that provides a number of great features without the bloat.')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    script(src='//use.typekit.net/glq4bcp.js')
    script try{Typekit.load({ async: true });}catch(e){}

    link(rel='stylesheet' href='/styles/concise.css')
    link(rel='icon' href='/favicon.png')

  body
    div.docs
      div.docs-container
        //- Page header
        header(container).mainHeader
          a(href='/').logo.animated: img(src='/images/logo2.svg' alt='Concise Logo')

          //- Navigation button
          a(href="#")#nav-button.nav-button Menu
            span.nav-icon

        //- Content
        main(container)
          .docs-ad
            script#_carbonads_js(async='', type='text/javascript', src='//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=concisecss')

          div(row)
            div(column='8 +1')
              != yield

        //- Page footer
        footer.main-footer
          div(container)
            include ../includes/footer

    //- Sidebar
    include ../includes/navigation


    script(src='../../scripts/main.js')

    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','#{googleAnalytics}','auto');ga('send','pageview');
