h1 Alignment

p
  | Floating elements are simple with Concise, with classes that can be applied to
  | any element.

p.note
  | When floating elements with either the <code>.float--left</code> or
  | <code>.float--right</code> class, ensure they are wrapped around a
  | <code>.clearfix</code> class so all of the floats are cleared.

p
  | In addition, when using the <code>.center--all</code> helper class on an element with 
  | an unknown width, additional styling may be required to properly center the
  | element. Referring to <a href="http://css-tricks.com/centering-in-the-unknown/"
  | target="_blank">Chris Coyier's "Centering in the Unkown"</a> article may come
  | in handy when handling such a situation.</p>

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/OVeNmx/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/OVeNmx/'>Alignment - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.
