h1 Breakpoints

p
  | Concise is built from the ground up to be mobile friendly. This means that
  | all mobile styles are defined first with media queries used to style for
  | larger devices.

p
  | The media queries for Concise are based off of this great
  | <a href="http://app.kodery.com/s/1075" title="Media Queries Boilerplate" target="_blank">media queries boilerplate</a>.

p.note
  | The values of the media queries can be modified in in <code>/custom/_globals.scss</code>.

.table--responsive
  table
    thead
      tr
        th(scope="col") Name
        th(scope="col") Ems
        th(scope="col") Pixels

    tbody
      tr
        td extra-small
        td 30
        td 480

      tr
        td small
        td 48
        td 768

      tr
        td medium
        td 60
        td 960

      tr
        td large
        td 70
        td 1120

      tr
        td extra-large
        td 80
        td 1280
