h1 Screen Reader Content

p
  | Careful consideration needs to be taken when deciding how content should be
  | hidden. For example, sometimes content needs to be hidden from users, but
  | visible to people using screen readers.

p
  | One common reason for doing this is if you were to use icons on your page
  | without any supporting text. People without a screen reader could see the
  | icons and understand the context of the icon, but people using a screen
  | reader could not. By using the <code>.screenreader</code> class on elements,
  | content is hidden from anybody viewing the website on a monitor, but can
  | still read by a screen reader.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/GJbymK/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/GJbymK/'>Screen reader content - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.
