h1 Tables

h2.heading--docs Basic

p
  | A basic table without any styling can be created with just the standard 
  | <code>&lt;table&gt;</code> tag and accompanying elements.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/BNgJRo/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/BNgJRo/'>Basic tables - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.

h2.heading--docs Full-Width Tables

p
  | You can ensure that a table takes up 100% the width of it's container by 
  | using the <code>.table--full</code> modifier class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/eNwyWe/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/eNwyWe/'>Full width tables - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2.heading--docs Bordered Tables

p
  | Multiple modifier classes have been added to easily add borders to various 
  | parts of tables.

h3 All Borders

p
  | You can use the modifier class <code>.table--border</code> to add borders 
  | to all parts of a table.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/aOgEWK/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/aOgEWK/'>Tables with all borders - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h3 Outer Borders

p
  | You can use the modifier class <code>.table--borderdOuter</code> to add 
  | borders to the outside of a table.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/gpNoRO/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/gpNoRO/'>Tables with outer borders - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h3 Inner Borders

p
  | You can use the modifier class <code>.table--borderInner</code> to add 
  | borders to the inside of a table.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/yNdpXX/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/yNdpXX/'>Tables with inner borders - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h3 Horizontal Borders

p
  | You can use the modifier class <code>.table--borderHorizontal</code> to 
  | add borders to the horizontal parts of a table.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/JdQMJa/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/JdQMJa/'>Table with horizontal borders - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2.heading--docs Filled Tables

p
  | A couple of modifier classes have been added to fill the rows inside of a 
  | table with a light gray color.

h3 Even Fill

p
  | You can fill the even rows inside of a table using the <code>.table--fillEven</code> 
  | modifier class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/vOqpJq/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/vOqpJq/'>Even fill table - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h3 Odd Fill

p
  | You can fill the odd rows inside of a table using the <code>.table--fillOdd</code> 
  | modifier class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/bdPaoe/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/bdPaoe/'>Odd fill table - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2.heading--docs Hover Tables

p
  | A couple of modifier classes have been added to add a hover effect to rows 
  | inside of a table with a light gray color.

h3 Row Hover

p
  | You add a hover effect to the rows inside of a table using the 
  | <code>.table--hoverRow</code> modifier class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/zGVpEj/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/zGVpEj/'>Row hover table - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h3 Cell Hover

p
  | You add a hover effect to the cells inside of a table using the 
  | <code>.table--hoverCell</code> modifier class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/mJZpqb/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/mJZpqb/'>Cell hover table - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2.heading--docs Flat Table

p
  | You can remove all styling from a table using the <code>.table--flat</code> 
  | modifier class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/KpjZym/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/KpjZym/'>Flat table - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.


h2.heading--docs Responsive Container

p
  | When you have a table with a lot of columns, you may not want to hide columns 
  | conditionally or shrink them down to the point where they are unreadable. 
  | By wrapping a table in the <code>.table--responsive</code> class, the size 
  | of the table remains the same and a horizontal scroll bar will show up, 
  | allowing users to scroll horizontally to view all of the information.

p
  | Try resizing the browser and see how the table below changes.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/zGVpPj/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/zGVpPj/'>Responsive tables - Concise Framework</a> on <a href='http://codepen.io'>CodePen</a>.
