h1
  span 2.3
  span Breadcrumbs

p
  | Breadcrumb navigation can be added using the <code>.breadcrumbs</code> class
  | on a <code>&lt;ul&gt;</code> element. You can also use the
  | <code>.breadcrumbs--flat</code> modifier class to remove the background color,
  | border and padding.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/avoOjr/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/avoOjr/'>Breadcrumbs - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
