h1
  span 2.4
  span Buttons

p
  | Modifier classes for buttons have been added in Concise UI so that you can
  | have more options when styling buttons.

h2.heading--docs Bordered

p
  | You can create bordered buttons by using the <code>.button--bordered</code>
  | class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/gaYpBg/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/gaYpBg/'>Bordered buttons - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.


h2.heading--docs Prefix/Affix

p
  | You can easy prefix or affix content to buttons by using the
  | <code>.button--prefix</code> class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/rOBVqo/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/rOBVqo/'>Prefix/Afix buttons - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
