h1
  span 2.6
  span Collections

p
  | You can store collections of items by using the <code>.collection</code> class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/gaYGab/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/gaYGab/'>Collections - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
