h1
  span 2.7
  span Dropdowns

p
  | Dropdowns are created by adding the <code>.dropdown</code> class and nesting
  | a <code>.dropdown-content</code> class. You can put lists, text, images,
  | videos, and other content inside of dropdown content.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/jbNGWB/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/jbNGWB/'>Dropdowns - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
