h1
  span 2.8
  span Groups

p
  | Content can be grouped together using the <code>.group</code> class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/dYbVGL/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/dYbVGL/'>Groups - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
