h1
  span 2.9
  span Modals

p
  | Modals are used to display content to users after an element has been
  | clicked (eg: button, link, etc). To create a modal, you need to ensure
  | that an ID is added to the modal element, and you can then link to open it
  | via the id (ex: `&lt;a href=&quot;#modal&quot;&gt;&lt;/a&gt;`).

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/RWbLGb/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/RWbLGb/'>Modals - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Modifiers

h3 Full-Width

p
  | You can create a modal that takes up the full width of the screen by adding
  | the <code>.modal--full</code> class.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/yYBzzv/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/yYBzzv/'>Full width modals - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.


h3 Flat

p
  | You can remove the background colors from the modal by adding the
  | <code>.modal--flat</code> class to the modal element.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/qOWPPw/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/qOWPPw/'>Flat modals - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
