h1
  span 2.10
  span Progress Bars

p
  | A progress bar can be used to display a percentage of progress out of 100.
  | The only two things driving these progress bars are an outer element with the
  | <code>.progress</code> class as as an inner <code>&lt;span&gt;</code> containing
  | an inline style <code>style="width: __%"</code> where the <code>__</code>
  | signifies a number under 100.

p
  | Thanks to Chris Coyier of CSS Tricks for his tutorial on
  | <a href="http://css-tricks.com/css3-progress-bars/" target="_blank">CSS Progress Bars.</a>

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/YyKrYz/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/YyKrYz/'>Progress bars - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Striped

p
  | You can make the progress bar striped by adding the <code>.progress--striped</code>
  | class to the progress bar.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/QjLqaM/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/QjLqaM/'>Striped progress bars - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Animated

p
  | You can make the progress bar animated by adding the <code>.progress--animate</code>
  | class to the progress bar.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/ZbzXvR/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/ZbzXvR/'>Animated progress bars - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.


h2 Stacked

p
  | You can stack progress bars by adding the <code>.progress--animate</code>
  | class to the progress bar and nesting <code>&lt;span&gt;</code> tags with their
  | respective widths.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/wKwryJ/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/wKwryJ/'>Stacked progress bars - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
