h1
  span 2.12
  span Spinner

p
  | You can easily create a progress spinner by adding the <code>.spinner</code>
  | class to an empty element.

iframe(height='268' scrolling='no' src='//codepen.io/jameskolce/embed/RWbLyW/?height=268&theme-id=18044&default-tab=html' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;')
  | See the Pen <a href='http://codepen.io/jameskolce/pen/RWbLyW/'>Spinner - Concise UI</a> on <a href='http://codepen.io'>CodePen</a>.
