//
// Object Styling
//

// Container
.container {
  width: 90%;

  @media (min-width: 48em) {
    width: 726px;
  }
}

// Buttons
.btn {
  border-radius: 4px;
  transition: all .3s;
}


//
// Header
//
.siteHeader { border-bottom: 1px solid #eee; }

// Logo
.logo {
  font-size: 22px;
  margin-bottom: 0;

  @media (min-width: 48em) {
    float: left;
  }
}

// Navigation
.nav {
  @media (min-width: 48em) {
    float: right;
  }

  li {
    display: inline;
    line-height: 3.5;
    margin-left: 25px;

    &:first-of-type { margin-left: 0; }
  }
}


//
// Feature
//
.feature {
  background-color: #eee;
  margin-top: 50px;
  padding: 35px;
  text-align: center;

  @media (min-width: 48em) {
    padding: 50px;
  }
}

.feature-title { margin-top: 0; }


//
// Site Content
//
.siteContent { padding: 50px 0; }


//
// Footer
//
.siteFooter {
  border-top: 1px solid #eee;
  padding-top: 15px;
}
