header(container)
  nav.main-nav
    a(href='/'): img(class='logo animated' src='/images/logo2.svg' alt='Concise Logo')
    ul
      li: a(href='/documentation') Documentation
      li: a(href='/concise-ui') Concise UI
      li: a(href='/archive/v2.0.0') v2 Docs


  div.intro
    h1.giga Concise CSS
    hr
    p A framework written in SASS that's lightweight, and easy-to-use.<br><strong>Build great websites.</strong>


  div.intro-buttons
    div.dropdown.dropdown--top.button(tabindex='0')
      | Download
      ul.dropdown-content
        li
          a(href='https://github.com/ConciseCSS/concise.css/releases/download/v3.0.0/concise-v3.0.0-dist.zip') Compiled CSS
          span (20kb)
        li
          a(href='https://github.com/ConciseCSS/concise.css/releases/download/v3.0.0/concise-v3.0.0-UI-dist.zip') Compiled CSS with UI
          span (37kb)
        li
          a(href='https://github.com/ConciseCSS/concise.css/releases/download/v3.0.0/concise-v3.0.0-source.zip') Source SASS with CSS
          span (64kb)

    a(href='/documentation' title='Get started').button.button--secondary Get Started


  p.text--secondary
    | <strong>Current version:</strong> v#{version}
