p &copy; 2015 &nbsp; / &nbsp; Concise Team
ul
  li: a(href='https://github.com/ConciseCSS/concise.css/blob/master/CONTRIBUTING.md') Contributing
  li: a(href='https://github.com/ConciseCSS/concise.css/issues') Issues
  li: a(href='https://github.com/ConciseCSS/concise.css/releases') Changelog
  li: a(href='http://twitter.com/concisecss') Twitter
  li: a(href='http://facebook.com/concisecss') Facebook
