p.
  Sponsored by #[a(href='https://www.keycdn.com/' target='_blank') KeyCDN.com]
  #[br]#[br]
  &copy; 2014-2015 #[a(href='http://keenanpayne.com' target='_blank') Keenan Payne]
  #[br]
  &copy; 2016 #[a(href='http://jameskolce.com' target='_blank') James Kolce]
ul
  li: a(href='https://github.com/ConciseCSS/concise.css/blob/master/CONTRIBUTING.md') Contributing
  li: a(href='https://github.com/ConciseCSS/concise.css/issues') Issues
  li: a(href='https://github.com/ConciseCSS/concise.css/releases') Changelog
  li: a(href='http://twitter.com/concisecss') Twitter
  li: a(href='http://facebook.com/concisecss') Facebook
