p.
  Sponsored by #[a(href='https://www.keycdn.com/' target='_blank') KeyCDN.com]
  #[br]#[br]
  &copy; 2016 #[a(href='http://jameskolce.com' target='_blank') James Kolce], #[a(href='http://keenanpayne.com' target='_blank') Keenan Payne] and #[a(href='https://github.com/ConciseCSS/concise.css/graphs/contributors') ConciseCSS Contruibuitors].
ul
  li: a(href='https://github.com/ConciseCSS/concise.css/issues') Support
  li: a(href='https://github.com/ConciseCSS/concise.css/releases') Changelog
  li: a(href='https://github.com/concisecss') Github
  li: a(href='http://twitter.com/concisecss') Twitter
  li: a(href='http://facebook.com/concisecss') Facebook
