---
# Masthead
masthead-subtitle: Extend Concise with these pre-built add-ons.

# Navigation
nav:
- text: Articles
  url: /add-ons/articles/
- text: Badges & Labels
  url: /add-ons/badges-labels/
- text: Blockquotes
  url: /add-ons/blockquotes/
- text: Breadcrumbs
  url: /add-ons/breadcrumbs/
- text: Button Styles
  url: /add-ons/button-styles/
- text: Circles
  url: /add-ons/circles/
- text: Closeable
  url: /add-ons/closeable/
- text: Comments
  url: /add-ons/comments/
- text: Form Styles
  url: /add-ons/form-styles/
- text: Icon Groups
  url: /add-ons/icon-groups/
- text: Navigation Styles
  url: /add-ons/navigation-styles/
- text: Progress Bars
  url: /add-ons/progress-bars/
- text: Scrollbars
  url: /add-ons/scrollbars/
- text: Tooltips
  url: /add-ons/tooltips/
- text: Wells
  url: /add-ons/wells/
---

{% include head.html %}

  {% include navigation.html %}

  {% include masthead.html %}

  <div class="container">
    <main class="documentation">
      <div class="documentation-sidebar">
        <nav class="nav-responsive-center nav-responsive-text">
          <ul>
            <li class="header">Add-Ons</li>

            {% for link in page.nav %}
              <a href="{{ link.url }}">
                <li {% if link.url == page.url %}class="active"{% endif %}>{{ link.text }}</li>
              </a>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="documentation-content">
        <h1>{{ page.subtitle }}</h1>

        {{ content }}
      </div>
    </div>
  </div>

{% include footer.html %}
