---
# Navigation
nav:
- text: Articles
  url: /add-ons/articles/
- text: Badges & Labels
  url: /add-ons/badges-labels/
- text: Blockquotes
  url: /add-ons/blockquotes/
- text: Breadcrumbs
  url: /add-ons/breadcrumbs/
- text: Button Styles
  url: /add-ons/button-styles/
- text: Circles
  url: /add-ons/circles/
- text: Closeable
  url: /add-ons/closeable/
- text: Comments
  url: /add-ons/comments/
- text: Form Styles
  url: /add-ons/form-styles/
- text: Gradient Styles
  url: /add-ons/gradient-styles/
- text: Icon Groups
  url: /add-ons/icon-groups/
- text: Navigation Styles
  url: /add-ons/navigation-styles/
- text: Progress Bars
  url: /add-ons/progress-bars/
- text: Scrollbars
  url: /add-ons/scrollbars/
- text: Tooltips
  url: /add-ons/tooltips/
- text: Wells
  url: /add-ons/wells/
---

{% include head.html %}

  {% include header.html %}

  <div class="masthead">
    <div class="container center">
      <h1 class="kilo no-margin color-white">Add-Ons</h1>

      <h2 class="no-margin">Extend the default Concise with these pre-built add-ons</h2>
    </div><!-- .container -->

    <script type="text/javascript" src="//cdn.fusionads.net/fusion.js?zoneid=1332&serve=C6SDP2Y&placement=concisecss" id="_fusionads_js"></script>
  </div><!-- .masthead -->

  <div class="container center">
    <div class="row no-margin">
      <div class="column-5 sidebar">
        <nav class="nav-vertical pills nav-responsive-center nav-responsive-text">
          <ul>
            <li class="text-uppercase">Add-Ons</li>

            {% for link in page.nav %}
              <li>
                <a {% if link.url == page.url %}class="active"{% endif %} href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav><!-- .nav-vertical -->
      </div><!-- .column-5 -->

      <div class="column-19 content">
        {{ content }}
      </div><!-- .column-19 -->
    </div><!-- .row -->
  </div><!-- .container -->

{% include footer.html %}
