---
# Navigation
layout-nav:
- text: Container
  url: /documentation/layout/container/
- text: Grid
  url: /documentation/layout/grid/
- text: Breakpoints
  url: /documentation/layout/breakpoints/

typography-nav:
- text: Headings
  url: /documentation/typography/headings/
- text: Body
  url: /documentation/typography/body/
- text: Emphasis
  url: /documentation/typography/emphasis/
- text: Abbreviations
  url: /documentation/typography/abbreviations/
- text: Blockquotes
  url: /documentation/typography/blockquotes/
- text: Addresses
  url: /documentation/typography/addresses/
- text: Positioning
  url: /documentation/typography/positioning/
- text: Weights
  url: /documentation/typography/weights/
- text: Colors
  url: /documentation/typography/colors/
- text: Ampersand
  url: /documentation/typography/ampersand/

navigation-nav:
- text: Nested Dropdowns
  url: /documentation/navigation/nested-dropdowns/
- text: jQuery Dropdowns
  url: /documentation/navigation/jquery-dropdowns/
- text: Vertical
  url: /documentation/navigation/vertical/
- text: Responsive
  url: /documentation/navigation/responsive/
- text: Breadcrumbs
  url: /documentation/navigation/breadcrumbs/

elements-nav:
- text: Lists
  url: /documentation/elements/lists/
- text: Code
  url: /documentation/elements/code/
- text: Tables
  url: /documentation/elements/tables/
- text: Forms
  url: /documentation/elements/forms/
- text: Buttons
  url: /documentation/elements/buttons/
- text: Groups
  url: /documentation/elements/groups/
- text: Wells
  url: /documentation/elements/wells/
- text: Badges & Labels
  url: /documentation/elements/badges-labels/
- text: Progress Bars
  url: /documentation/elements/progress-bars/
- text: Closeable
  url: /documentation/elements/closeable/

helper-nav:
- text: Background Colors
  url: /documentation/helper-classes/background-colors/
- text: Border Radius
  url: /documentation/helper-classes/border-radius/
- text: Pill
  url: /documentation/helper-classes/pill/
- text: Full Width
  url: /documentation/helper-classes/full-width/
- text: Show/Hide
  url: /documentation/helper-classes/show-hide/
- text: Conditional Styling
  url: /documentation/helper-classes/conditional-styling/
- text: Carets
  url: /documentation/helper-classes/carets/
- text: Quick Floats
  url: /documentation/helper-classes/quick-floats/
- text: Screen Reader
  url: /documentation/helper-classes/screen-reader/
- text: Image Replacement
  url: /documentation/helper-classes/image-replacement/
- text: Remove Margin
  url: /documentation/helper-classes/remove-margin/
- text: Vendor Prefixes
  url: /documentation/helper-classes/vendor-prefixes/
---

{% include head.html %}

  {% include header.html %}

  <div class="masthead">
    <div class="container center">
      <h1 class="kilo no-margin color-white">Documentation</h1>

      <h2 class="no-margin">Learn how to use all of great features that Concise provides.</h2>
    </div><!-- .container -->

    <script type="text/javascript" src="//cdn.fusionads.net/fusion.js?zoneid=1332&serve=C6SDP2Y&placement=concisecss" id="_fusionads_js"></script>
  </div><!-- .masthead -->

  <div class="container center">
    <div class="row no-margin">
      <div class="column-5 sidebar">
        <nav class="nav-vertical pills nav-responsive-center nav-responsive-text">
          <ul>
            <li class="text-uppercase">Layout</li>

            {% for link in page.layout-nav %}
              <li>
                <a {% if link.url == page.url %}class="active"{% endif %} href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>

          <ul>
            <li class="text-uppercase">Typography</li>

            {% for link in page.typography-nav %}
              <li>
                <a {% if link.url == page.url %}class="active"{% endif %} href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>

          <ul>
            <li class="text-uppercase">Navigation</li>

            {% for link in page.navigation-nav %}
              <li>
                <a {% if link.url == page.url %}class="active"{% endif %} href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>

          <ul>
            <li class="text-uppercase">Elements</li>

            {% for link in page.elements-nav %}
              <li>
                <a {% if link.url == page.url %}class="active"{% endif %} href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>

          <ul>
            <li class="text-uppercase">Helper Classes</li>

            {% for link in page.helper-nav %}
              <li>
                <a {% if link.url == page.url %}class="active"{% endif %} href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav><!-- .nav-vertical -->
      </div><!-- .column-5 -->

      <div class="column-19 content">
        {{ content }}
      </div><!-- .column-19 -->
    </div><!-- .row -->
  </div><!-- .container -->

{% include footer.html %}
