---
# Masthead
masthead-subtitle: Getting up-and-running with Concise is simple.

# Navigation
nav:
- text: Principles
  url: /get-started/
- text: Getting Started
  url: /get-started/getting-started/
- text: Disabling Responsiveness
  url: /get-started/disabling-responsiveness/
- text: Disabling HTML5
  url: /get-started/disabling-html5/
- text: Normalize
  url: /get-started/normalize/
- text: Recommended JavaScript Libraries
  url: /get-started/recommended-javascript-libraries/
---

{% include head.html %}

  {% include navigation.html %}

  {% include masthead.html %}

  <div class="container">
    <div class="documentation">
      <div class="documentation-sidebar">
        <nav class="nav-responsive-center nav-responsive-text">
          <ul>
            <li class="header">Overview</li>

            {% for link in page.nav %}
              <a href="{{ link.url }}">
                <li {% if link.url == page.url %}class="active"{% endif %}>{{ link.text }}</li>
              </a>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="documentation-content">
        <h1>{{ page.subtitle }}</h1>

        {{ content }}
      </div>
    </div>
  </div>

{% include footer.html %}
