{% include head.html %}

  <header class="homepage">
    <div class="container center text-center color-white">
      <h1 class="mega color-white no-margin">A better front-end framework.</h1>
      
      <h2 class="color-white">Give up the bloat. Stop tripping over your classes. Be Concise.</h2>
     
      {% include home-buttons.html %}
      
      <p class="small no-margin">{{ site.version }} &mdash; {{ site.package-size }}</p>
      
      <div class="github-buttons hide-extra-small">
        <iframe src="http://ghbtns.com/github-btn.html?user=ConciseCSS&repo=concise.css&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20" class="star"></iframe>
        
        <iframe src="http://ghbtns.com/github-btn.html?user=ConciseCSS&repo=concise.css&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        
        <iframe src="http://ghbtns.com/github-btn.html?user=keenanpayne&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
      </div>
      
      <script type="text/javascript" src="//cdn.fusionads.net/fusion.js?zoneid=1332&serve=C6SDP2Y&placement=concisecss" id="_fusionads_js"></script>
    </div><!-- .container -->
  </header>
  
  {% include header.html %}
  
    {{ content }}
    
{% include footer.html %}