extends _layout

block content
  header.home-header
    a(href='/'): img(src='/images/logo.svg' title="Concise CSS logo").logo

    a(href='/documentation').docs Documentation

    h1.title Concise <em>CSS</em>
      small Give up the bloat. Stop tripping over your classes. Be Concise.

    div.version-box
      h3.title Current versions:
      p.version
        span Core:
        span.js-currentVersion v#{version.core}
      p.version
        span Utils:
        span v#{version.utils}
      p.version
        span UI:
        span v#{version.ui}

  main._bt1
    section(grid)
      div(column='4')
        h2._mb0 Getting started

      div(column='8')
        h3 Using NPM

        p This is the prefered method to install Concise CSS, you will be able to customize and compile the source files with Concise CLI.

        pre.language-scss: code.
          // Get Concise CSS
          npm install concise.css

          // Get Concise CLI
          npm install -g concise-cli

          // Import Concise CSS
          @import "node_modules/concise.css/concise";

          // Compile files
          concisecss compile source.scss styles.css

        h3 Using the CDN

        p If you just want to try Concise CSS or if you do not have plans to customize the styles from the source code, then you can use our CDN.

        pre.language-markup: code.
          &lt;!-- Minified - Latest version -->
          &lt;link rel="stylesheet" href="https://cdn.concisecss.com/concise.min.css">

    p._text-right: a(href='/documentation') See the Documentation

    section(grid)
      div(column='4')
        h2._mb0 Why Concise CSS

      div(column='8')
        div(grid)
          div(column)
            h3 Bloat-Free
            p No unnecessary styles are added so you can spend more time building and less time overriding.

          div(column)
            h3 Concise UI
            p Do you need CSS components? We provide a basic UI kit for Concise CSS as an add-on.

        div(grid)
          div(column)
            h3 Concise Utils
            p We also provide utility classes for rapid prototyping and context-dependent styles.

          div(column)
            h3 Sass + PostCSS
            p The usual features from Sass with some custom additions using PostCSS.

        div(grid)
          div(column)
            h3 Design-Oriented
            p A framework built with design in mind. Get better results from the beginning with less code.

          div(column)
            h3 Easy to use
            p Concise has a small learning curve; the simplicity of the styles helps to get started faster.

    p._text-right: a(href='documentation/#why') Read the introduction

    section(grid)._ptm
      div(column='4')
        h2._mt0 Showcase
          small Websites made with Concise CSS

      div(column='8')
        div(grid)
          div(column)
            a(href='https://jameskolce.com')._clear-link
              img(src="/images/showcase/jameskolce.com.png", alt="Jameskolce.com")._fluid-img

          div(column)
            a(href='https://brain.jameskolce.com')._clear-link
              img(src="/images/showcase/brain.jameskolce.com.png", alt="Brain.jameskolce.com")._fluid-img

        div(grid)._mts
          div(column)
            a(href='http://gdquest.com/')._clear-link
              img(src="/images/showcase/gdquest.com.png", alt="GDquest.com")._fluid-img

          div(column)
            a(href='http://dbhs.tech/')._clear-link
              img(src="/images/showcase/dbhs.tech.png", alt="dbhs.tech")._fluid-img

        div(grid)._mts
          div(column)
            a(href='http://xyentific.com/')._clear-link
              img(src="/images/showcase/xyentific.com.png", alt="xyentific.com")._fluid-img

          div(column)
            a(href='https://stocksandwich.com/')._clear-link
              img(src="/images/showcase/stocksandwich.com.png", alt="stocksandwich.com")._fluid-img

        div(grid)._mts
          div(column)
            a(href='https://acaudio.co.uk')._clear-link
              img(src="/images/showcase/acaudio.co.uk.png", alt="acaudio.co.uk")._fluid-img

          div(column)
            a(href='http://aclighting.com')._clear-link
              img(src="/images/showcase/aclighting.com.png", alt="aclighting.com")._fluid-img

    p._text-right: a(href='https://github.com/ConciseCSS/concisecss.github.io/issues/new')._clear-link Submit your website

  footer.main-footer
    p.
      Sponsored by #[a(href='https://www.keycdn.com/') KeyCDN]
      #[br]
      &copy; #[script document.write(new Date().getFullYear());]
      #[a(href='https://jameskolce.com') James Kolce],
      #[a(href='http://keenanpayne.com') Keenan Payne] &
      #[a(href='https://github.com/ConciseCSS/concise.css/graphs/contributors') Concise CSS Contributors].

    p.links-box
      a(href='https://github.com/ConciseCSS/concise.css/issues').link Support
      a(href='https://github.com/ConciseCSS/concise.css/releases').link Changelog
      a(href='https://github.com/concisecss').link Github
      a(href='http://twitter.com/concisecss').link Twitter
      a(href='http://facebook.com/concisecss').link Facebook
