extends _layout

block content
  header
    nav

    h1 Concise CSS
      small A Better CSS Framework

    p Give up the bloat. Stop tripping over your classes. Be Concise.

    p Current version: #{version}

  main
    section
      h2 Getting started
      // Use the CDN to start using Concise CSS quickly

    section
      h2 Features
      // Highlight the most important features of the framework
      // Include browser support here

    section
      h2 Showcase
      // A Gallery of websites using ConciseCSS

    section
      h2 Examples
      // Create some simple examples on Github and link them here

    section
      h2 Concise Templates
      // Introduce Concise Market
