extends _layout

block content
  header.home-header
    a(href='/'): img(src='/images/logo.svg' title="Concise CSS logo").logo

    h1.title Concise CSS
      small Give up the bloat. Stop tripping over your classes. Be Concise.

    div.version-box
      h3.title Current versions:
      p(grid="justify-between").version._m0
        span Core:
        span v#{version.core}
      p(grid="justify-between").version._m0
        span Utils:
        span v#{version.utils}
      p(grid="justify-between").version._m0
        span UI:
        span v#{version.ui}

  main
    section(grid)._ptm
      div(column='4')
        h2._mt0 Getting started

      div(column='8')
        h3._mt0 Using NPM

        p This is the prefered method to install Concise CSS, you will be able to customize and compile the source files with Concise CLI.

        pre.language-scss: code.
          // Get Concise CSS
          npm install concise.css

          // Get Concise CLI
          npm install -g concise-cli

          // Import Concise CSS
          @import "node_modules/concise.css/concise";

          // Compile files
          concisecss compile source.scss styles.css

        h3._mtm Using the CDN

        p If you just want to try Concise CSS or if you do not have plans to customize the styles from the source code, then you can use our CDN.

        pre.language-markup: code.
          &lt;!-- Normal - Latest version -->
          &lt;link rel="stylesheet" href="https://cdn.concisecss.com/concise.css">

          &lt;!-- Minified - Latest version -->
          &lt;link rel="stylesheet" href="https://cdn.concisecss.com/concise.min.css">

    p._text-right: a(href='/documentation') See the Documentation

    section._mtl._mbl
      div(grid)
        div(column)
          h3 Bloat-Free
          p No unnecessary styles are added so you can spend more time building and less time overriding.

        div(column)
          h3 Concise UI
          p Do you need CSS components? We provide a basic UI kit for Concise CSS as an add-on.

        div(column)
          h3 Concise Utils
          p We also provide utility classes for rapid prototyping and context-dependent styles.

      br

      div(grid)
        div(column)
          h3 Sass + PostCSS
          p The usual features from Sass with some custom additions using PostCSS.

        div(column)
          h3 Design-Oriented
          p A framework built with design in mind. Get better results from the beginning with less code.

        div(column)
          h3 Easy to use
          p Concise has a small learning curve; the simplicity of the styles helps to get started faster.

  footer.main-footer
    p.
      Sponsored by #[a(href='https://www.keycdn.com/') KeyCDN]
      #[br]
      &copy; #[script document.write(new Date().getFullYear());]
      #[a(href='https://jameskolce.com') James Kolce],
      #[a(href='http://keenanpayne.com') Keenan Payne] &
      #[a(href='https://github.com/ConciseCSS/concise.css/graphs/contributors') Concise CSS Contributors].

    p.links-box
      a(href='https://github.com/ConciseCSS/concise.css/issues').link Support
      a(href='https://github.com/ConciseCSS/concise.css/releases').link Changelog
      a(href='https://github.com/concisecss').link Github
      a(href='http://twitter.com/concisecss').link Twitter
      a(href='http://facebook.com/concisecss').link Facebook