extends _layout

block content
  header
    h1 ConciseCSS
      small A Better CSS Framework

    p Give up the bloat. Stop tripping over your classes. Be Concise.

    p Current version: #{version}

