doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Test
    meta(name='description' content=Test)
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='/styles/main.css')
  body
    div(container)
      block content

    //
    //script.
    //  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    //  ga('create','UA-54774632-3 ','auto');ga('send','pageview')
    //
    //script(src='https://www.google-analytics.com/analytics.js' async defer)
