.siteHeader {
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 22px;
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .logo {
    float: left;
  }
}

@media (min-width: 48em) {
  .nav {
    float: right;
  }
}
.nav li {
  display: inline;
  line-height: 3.5;
  margin-left: 25px;
}
.nav li:first-of-type {
  margin-left: 0;
}

.siteContent {
  padding: 50px 0;
  text-align: center;
}

.siteFooter {
  border-top: 1px solid #eee;
  padding-top: 15px;
}
