//
// Header
//
.siteHeader { border-bottom: 1px solid #eee; }

// Logo
.logo {
  font-size: 22px;
  margin-bottom: 0;

  @media (min-width: 48em) {
    float: left;
  }
}

// Navigation
.nav {
  @media (min-width: 48em) {
    float: right;
  }

  li {
    display: inline;
    line-height: 3.5;
    margin-left: 25px;

    &:first-of-type { margin-left: 0; }
  }
}


//
// Site Content
//
.siteContent {
  padding: 50px 0;
  text-align: center;
}


//
// Footer
//
.siteFooter {
  border-top: 1px solid #eee;
  padding-top: 15px;
}
