.tooltip,
[data-hint] {
  display: inline-block;
  position: relative;
}

.tooltip:before,
.tooltip:after {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  z-index: 1000000;

  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

[data-hint]:before,
[data-hint]:after {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  z-index: 1000000;

  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}

.tooltip:focus:before,
.tooltip:focus:after {
  opacity: 1;
  visibility: visible;
}

[data-hint]:hover:before,
[data-hint]:hover:after {
  opacity: 1;
  visibility: visible;
}

[data-hint]:focus:before,
[data-hint]:focus:after {
  opacity: 1;
  visibility: visible;
}

.tooltip:before,
[data-hint]:before {
  background: transparent;
  border: 6px solid transparent;
  content: '';
  position: absolute;
  z-index: 1000001;
}

.tooltip:after,
[data-hint]:after {
  background: #383838;
  color: #fff;
  content: attr(data-hint);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  padding: 8px 10px;
  white-space: nowrap;
}

.tooltip-top:before { border-top-color: #383838; }

.tooltip-bottom:before { border-bottom-color: #383838; }

.tooltip-left:before { border-left-color: #383838; }

.tooltip-right:before { border-right-color: #383838; }

.tooltip-top:before { margin-bottom: -12px; }

.tooltip-top:after { margin-left: -18px; }

.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

.tooltip-top:hover:after,
.tooltip-top:hover:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  transform: translateY(-8px);
}

.tooltip-top:focus:after,
.tooltip-top:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  transform: translateY(-8px);

  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.tooltip-bottom:before { margin-top: -12px; }

.tooltip-bottom:after { margin-left: -18px; }

.tooltip-bottom:before,
.tooltip-bottom:after {
  left: 50%;
  top: 100%;
}

.tooltip-bottom:hover:after,
.tooltip-bottom:hover:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
}

.tooltip-bottom:focus:after,
.tooltip-bottom:focus:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
}

.tooltip-right:before {
  margin-bottom: -6px;
  margin-left: -12px;
}

.tooltip-right:after { margin-bottom: -14px; }

.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:hover:after,
.tooltip-right:hover:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -ms-transform: translateX(8px);
  -o-transform: translateX(8px);
  transform: translateX(8px);
}

.tooltip-right:focus:after,
.tooltip-right:focus:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -ms-transform: translateX(8px);
  -o-transform: translateX(8px);
  transform: translateX(8px);
}

.tooltip-left:before {
  margin-bottom: -6px;
  margin-right: -12px;
}

.tooltip-left:after {
  margin-bottom: -14px;
}

.tooltip-left:before,
.tooltip-left:after {
  bottom: 50%;
  right: 100%;
}

.tooltip-left:hover:after,
.tooltip-left:hover:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  -o-transform: translateX(-8px);
  transform: translateX(-8px);
}

.tooltip-left:focus:after,
.tooltip-left:focus:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  -o-transform: translateX(-8px);
  transform: translateX(-8px);
}

[class*='hint-'].border-radius:after { border-radius: 4px; }
